<form class="form-dossier col 1" ng-submit="checkPush(form)">
  <div class="module-title row j-between a-center 1">
    <h3 class="ref">Ref.: {{ form.ref }}</h3>

    <!-- desktop btn -->
    <div class="cta-module row j-end a-center cta-desktop">
      <a ng-if="currentData === null" onclick="history.back()" class="lil back-btn">Cancelar</a>
      <a ng-if="currentData !== null" onclick="history.back()" class="lil back-btn">Cerrar</a>

      <!-- <div ng-if="currentData !== null" class="pdf-btn" ng-click="print(form, form.modules[0])">PDF</div> -->

      <button ng-if="currentData === null" class="lil add-btn">Crear</button>
      <button ng-if="currentData !== null" class="lil add-btn">Actualizar</button>
    </div>

    <!-- mobile btn -->
    <div class="cta-module row j-end a-center cta-mobile">
      <a onclick="history.back()" class="lil back-btn"><i class="fas fa-arrow-left"></i></a>

      <!-- <div ng-if="currentData !== null" class="pdf-btn" ng-click="print(form, form.modules[0])"><i class="fas fa-file"></i></div> -->

      <button class="lil add-btn"><i class="fas fa-save"></i></button>
    </div>
  </div>

  <div class="form-body scroll">
    <div class="form-bg col 1">
      <h4>Información del dossier</h4>
      <div class="row 1">
        <label class="col 1/3">
          <div class="label">TÍTULO DEL DOSSIER (44 carácteres máximo)</div>
          <input class="big" type="text" maxlength="44" ng-model="form.name" placeholder="Título del dossier" required>
        </label>
        <label class="col 1/3">
          <div class="label">ONLINE</div>
          <select class="big" ng-model="form.web_state" required>
            <option value="" disabled>Selecciona estado</option>
            <option value="online">Online</option>
            <option value="offline">Offline</option>
          </select>
        </label>
      </div>
    </div>

    <h4>Creador de páginas</h4>
    <div ng-hide="
      newPageFullImg || 
      newPageLeftTxtImg || 
      newPageRightTxtImg || 
      newPageFullTxt ||
      newPageDblImg || 
      newPageFullHphoto || 
      newPageDblVphoto || 
      newPageFullVphoto || 
      newPageLeftTxtHphoto || 
      newPageRightTxtHphoto || 
      newPageLeftTxtVphoto || 
      newPageRightTxtVphoto" class="row 1">
      <label class="page-type-card row a-center" ng-repeat="page in pageType" ng-click="startPage(page.ref)">
        <img ng-src="./assets/img/{{ page.ref }}.svg" alt="{{ page.name }}">
        <div class="label">{{ page.name }}</div>
      </label>
    </div>

    <!-- full-img page -->
    <div ng-if="newPageFullImg" class="page-wrapper col 2/3">
      <div class="form-body col 1">
        <div class="row 1">
          <div class="label-wrapper">
            <!-- img -->
            <label ng-hide="croppingFullImg" class="page-label col" for="full-img">
              <div class="img-wrapper row f-center">
                <input type="file" id="full-img" ngf-select ng-model="newPage.images[0]" accept="image/jpeg"
                  ngf-accept="'image/.jpeg'" ngf-max-size="10MB" ngf-fix-orientation="true"
                  ngf-change="cropFullImg(newPage.images[0])">

                <img class="input-img" ngf-src="newPage.images[0]">
              </div>
            </label>

            <!-- cropper -->
            <label ng-show="croppingFullImg" class="page-label col" for="cropper">
              <div class="img-wrapper row f-center">
                <ui-cropper class="input-img row f-center" image="newPage.images[0]" area-type="rectangle"
                  aspect-ratio="1.41" result-image-size="{w:3508,h:2480}" result-image-format="image/jpeg"
                  result-image-quality="0.8" result-image="croppedFullImg" init-max-area="true">
                </ui-cropper>
              </div>
            </label>

            <!-- cropper btns -->
            <div ng-hide="croppingFullImg" class="crop-btn" ng-click="cropFullImg(newPage.images[0])">Recortar
            </div>
            <div ng-show="croppingFullImg" class="crop-btn" ng-click="applyCropFullImg(croppedFullImg)">Aplicar</div>
          </div>
        </div>
      </div>

      <div class="module-title row j-end a-center 1">
        <div class="cta-module row j-end a-center">
          <div ng-click="discardPage()" class="back-page-btn">Descartar</div>
          <div ng-click="addPage(newPage, 'full-img')" class="add-page-btn">Añadir página</div>
        </div>
      </div>
    </div>

    <!-- left-txt-img page -->
    <div ng-if="newPageLeftTxtImg" class="page-wrapper col 2/3">
      <div class="form-body col 1">
        <div class="row 1">
          <div class="label-wrapper">
            <!-- img -->
            <label ng-hide="croppingLeftTxtImg" class="page-label col" for="left-txt-img">
              <div class="img-wrapper row f-center">
                <input type="file" id="left-txt-img" ngf-select ng-model="newPage.images[0]" accept="image/jpeg"
                  ngf-accept="'image/.jpeg'" ngf-max-size="10MB" ngf-fix-orientation="true"
                  ngf-change="cropLeftTxtImg(newPage.images[0])">

                <img class="input-img" ngf-src="newPage.images[0]">
              </div>
            </label>

            <!-- cropper -->
            <label ng-show="croppingLeftTxtImg" class="page-label col" for="cropper">
              <div class="img-wrapper row f-center">
                <ui-cropper class="input-img row f-center" image="newPage.images[0]" area-type="rectangle"
                  aspect-ratio="1" result-image-size="{w:2480,h:2480}" result-image-format="image/jpeg"
                  result-image-quality="0.8" result-image="croppedLeftTxtImg" init-max-area="true">
                </ui-cropper>
              </div>
            </label>

            <!-- cropper btns -->
            <div ng-hide="croppingLeftTxtImg" class="crop-btn" ng-click="cropLeftTxtImg(newPage.images[0])">Recortar
            </div>
            <div ng-show="croppingLeftTxtImg" class="crop-btn" ng-click="applyCropLeftTxtImg(croppedLeftTxtImg)">Aplicar
            </div>
          </div>
        </div>

        <div class="row 1">
          <label class="page-label col 1/2">
            <div class="label">TÍTULO DE LA PÁGINA (20 carácteres máximo)</div>
            <input class="big" type="text" maxlength="20" ng-model="newPage.title" placeholder="Título de la página">
          </label>
        </div>

        <div class="row 1">
          <label class="page-label col 1">
            <div class="label">TEXTO (700 carácteres máximo)</div>
            <textarea class="big" maxlength="700" ng-model="newPage.text" placeholder="Texto"></textarea>
          </label>
        </div>
      </div>

      <div class="module-title row j-end a-center 1">
        <div class="cta-module row j-end a-center">
          <div ng-click="discardPage()" class="back-page-btn">Descartar</div>
          <div ng-click="addPage(newPage, 'left-txt-img')" class="add-page-btn">Añadir página</div>
        </div>
      </div>
    </div>

    <!-- right-txt-img page -->
    <div ng-if="newPageRightTxtImg" class="page-wrapper col 2/3">
      <div class="form-body col 1">
        <div class="row 1">
          <div class="label-wrapper">
            <!-- img -->
            <label ng-hide="croppingRightTxtImg" class="page-label col" for="right-txt-img">
              <div class="img-wrapper row f-center">
                <input type="file" id="right-txt-img" ngf-select ng-model="newPage.images[0]" accept="image/jpeg"
                  ngf-accept="'image/.jpeg'" ngf-max-size="10MB" ngf-fix-orientation="true"
                  ngf-change="cropRightTxtImg(newPage.images[0])">

                <img class="input-img" ngf-src="newPage.images[0]">
              </div>
            </label>

            <!-- cropper -->
            <label ng-show="croppingRightTxtImg" class="page-label col" for="cropper">
              <div class="img-wrapper row f-center">
                <ui-cropper class="input-img row f-center" image="newPage.images[0]" area-type="rectangle"
                  aspect-ratio="1" result-image-size="{w:2480,h:2480}" result-image-format="image/jpeg"
                  result-image-quality="0.8" result-image="croppedRightTxtImg" init-max-area="true">
                </ui-cropper>
              </div>
            </label>

            <!-- cropper btns -->
            <div ng-hide="croppingRightTxtImg" class="crop-btn" ng-click="cropRightTxtImg(newPage.images[0])">Recortar
            </div>
            <div ng-show="croppingRightTxtImg" class="crop-btn" ng-click="applyCropRightTxtImg(croppedRightTxtImg)">
              Aplicar</div>
          </div>
        </div>

        <div class="row 1">
          <label class="page-label col 1/2">
            <div class="label">TÍTULO DE LA PÁGINA (20 carácteres máximo)</div>
            <input class="big" type="text" maxlength="20" ng-model="newPage.title" placeholder="Título de la página">
          </label>
        </div>

        <div class="row 1">
          <label class="page-label col 1">
            <div class="label">TEXTO (700 carácteres máximo)</div>
            <textarea class="big" maxlength="700" ng-model="newPage.text" placeholder="Texto"></textarea>
          </label>
        </div>
      </div>

      <div class="module-title row j-end a-center 1">
        <div class="cta-module row j-end a-center">
          <div ng-click="discardPage()" class="back-page-btn">Descartar</div>
          <div ng-click="addPage(newPage, 'right-txt-img')" class="add-page-btn">Añadir página</div>
        </div>
      </div>
    </div>

    <!-- full-txt page -->
    <div ng-if="newPageFullTxt" class="page-wrapper col 2/3">
      <div class="form-body col 1">
        <div class="row 1">
          <label class="page-label col 1/2">
            <div class="label">TÍTULO (20 carácteres máximo)</div>
            <input class="big" type="text" maxlength="20" ng-model="newPage.title" placeholder="Título">
          </label>
        </div>

        <div class="row 1">
          <label class="page-label col 1">
            <div class="label">TEXTO (950 carácteres máximo)</div>
            <textarea class="big" maxlength="950" ng-model="newPage.text" placeholder="Texto"></textarea>
          </label>
        </div>
      </div>

      <div class="module-title row j-end a-center 1">
        <div class="cta-module row j-end a-center">
          <div ng-click="discardPage()" class="back-page-btn">Descartar</div>
          <div ng-click="addPage(newPage, 'full-txt')" class="add-page-btn">Añadir página</div>
        </div>
      </div>
    </div>

    <!-- dbl-img page -->
    <div ng-if="newPageDblImg" class="page-wrapper col 2/3">
      <div class="form-body col 1">
        <div class="row 1">
          <div class="label-wrapper">
            <!-- img left -->
            <label ng-hide="croppingDblImgLeft" class="page-label col" for="dbl-img-left">
              <div class="img-wrapper row f-center">
                <input type="file" id="dbl-img-left" ngf-select ng-model="newPage.images[0]" accept="image/jpeg"
                  ngf-accept="'image/.jpeg'" ngf-max-size="10MB" ngf-fix-orientation="true"
                  ngf-change="cropDblImgLeft(newPage.images[0])">

                <img class="input-img" ngf-src="newPage.images[0]">
              </div>
            </label>

            <!-- cropper -->
            <label ng-show="croppingDblImgLeft" class="page-label col" for="cropper">
              <div class="img-wrapper row f-center">
                <ui-cropper class="input-img row f-center" image="newPage.images[0]" area-type="rectangle"
                  aspect-ratio="0.73" result-image-size="{w:1636,h:2244}" result-image-format="image/jpeg"
                  result-image-quality="0.8" result-image="croppedDblImgLeft" init-max-area="true">
                </ui-cropper>
              </div>
            </label>

            <!-- cropper btns -->
            <div ng-hide="croppingDblImgLeft" class="crop-btn" ng-click="cropDblImgLeft(newPage.images[0])">Recortar
            </div>
            <div ng-show="croppingDblImgLeft" class="crop-btn" ng-click="applyCropDblImgLeft(croppedDblImgLeft)">Aplicar
            </div>
          </div>

          <div class="label-wrapper">
            <!-- img right -->
            <label ng-hide="croppingDblImgRight" class="page-label col" for="dbl-img-right">
              <div class="img-wrapper row f-center">
                <input type="file" id="dbl-img-right" ngf-select ng-model="newPage.images[1]" accept="image/jpeg"
                  ngf-accept="'image/.jpeg'" ngf-max-size="10MB" ngf-fix-orientation="true"
                  ngf-change="cropDblImgRight(newPage.images[1])">

                <img class="input-img" ngf-src="newPage.images[1]">
              </div>
            </label>

            <!-- cropper -->
            <label ng-show="croppingDblImgRight" class="page-label col" for="cropper">
              <div class="img-wrapper row f-center">
                <ui-cropper class="input-img row f-center" image="newPage.images[1]" area-type="rectangle"
                  aspect-ratio="0.73" result-image-size="{w:1636,h:2244}" result-image-format="image/jpeg"
                  result-image-quality="0.8" result-image="croppedDblImgRight" init-max-area="true">
                </ui-cropper>
              </div>
            </label>

            <!-- cropper btns -->
            <div ng-hide="croppingDblImgRight" class="crop-btn" ng-click="cropDblImgRight(newPage.images[1])">Recortar
            </div>
            <div ng-show="croppingDblImgRight" class="crop-btn" ng-click="applyCropDblImgRight(croppedDblImgRight)">
              Aplicar</div>
          </div>
        </div>
      </div>

      <div class="module-title row j-end a-center 1">
        <div class="cta-module row j-end a-center">
          <div ng-click="discardPage()" class="back-page-btn">Descartar</div>
          <div ng-click="addPage(newPage, 'dbl-img')" class="add-page-btn">Añadir página</div>
        </div>
      </div>
    </div>

    <!-- full-hphoto page -->
    <div ng-if="newPageFullHphoto" class="page-wrapper col 2/3">
      <div class="form-body col 1">
        <div class="row 1">
          <div class="label-wrapper">
            <!-- img -->
            <label ng-hide="croppingFullHphoto" class="page-label col" for="full-hphoto">
              <div class="img-wrapper row f-center">
                <input type="file" id="full-hphoto" ngf-select ng-model="newPage.images[0]" accept="image/jpeg"
                  ngf-accept="'image/.jpeg'" ngf-max-size="10MB" ngf-fix-orientation="true"
                  ngf-change="cropFullHphoto(newPage.images[0])">

                <img class="input-img" ngf-src="newPage.images[0]">
              </div>
            </label>

            <!-- cropper -->
            <label ng-show="croppingFullHphoto" class="page-label col" for="cropper">
              <div class="img-wrapper row f-center">
                <ui-cropper class="input-img row f-center" image="newPage.images[0]" area-type="rectangle"
                  aspect-ratio="1.5" result-image-size="{w:2846,h:1897}" result-image-format="image/jpeg"
                  result-image-quality="0.8" result-image="croppedFullHphoto" init-max-area="true">
                </ui-cropper>
              </div>
            </label>

            <!-- cropper btns -->
            <div ng-hide="croppingFullHphoto" class="crop-btn" ng-click="cropFullHphoto(newPage.images[0])">Recortar
            </div>
            <div ng-show="croppingFullHphoto" class="crop-btn" ng-click="applyCropFullHphoto(croppedFullHphoto)">Aplicar
            </div>
          </div>
        </div>
      </div>

      <div class="module-title row j-end a-center 1">
        <div class="cta-module row j-end a-center">
          <div ng-click="discardPage()" class="back-page-btn">Descartar</div>
          <div ng-click="addPage(newPage, 'full-hphoto')" class="add-page-btn">Añadir página</div>
        </div>
      </div>
    </div>

    <!-- dbl-vphoto page -->
    <div ng-if="newPageDblVphoto" class="page-wrapper col 2/3">
      <div class="form-body col 1">
        <div class="row 1">
          <div class="label-wrapper">
            <!-- img left -->
            <label ng-hide="croppingDblVphotoLeft" class="page-label col" for="dbl-vphoto-left">
              <div class="img-wrapper row f-center">
                <input type="file" id="dbl-vphoto-left" ngf-select ng-model="newPage.images[0]" accept="image/jpeg"
                  ngf-accept="'image/.jpeg'" ngf-max-size="10MB" ngf-fix-orientation="true"
                  ngf-change="cropDblVphotoLeft(newPage.images[0])">

                <img class="input-img" ngf-src="newPage.images[0]">
              </div>
            </label>

            <!-- cropper -->
            <label ng-show="croppingDblVphotoLeft" class="page-label col" for="cropper">
              <div class="img-wrapper row f-center">
                <ui-cropper class="input-img row f-center" image="newPage.images[0]" area-type="rectangle"
                  aspect-ratio="0.66" result-image-size="{w:1377,h:2065}" result-image-format="image/jpeg"
                  result-image-quality="0.8" result-image="croppedDblVphotoLeft" init-max-area="true">
                </ui-cropper>
              </div>
            </label>

            <!-- cropper btns -->
            <div ng-hide="croppingDblVphotoLeft" class="crop-btn" ng-click="cropDblVphotoLeft(newPage.images[0])">
              Recortar
            </div>
            <div ng-show="croppingDblVphotoLeft" class="crop-btn"
              ng-click="applyCropDblVphotoLeft(croppedDblVphotoLeft)">Aplicar
            </div>
          </div>

          <div class="label-wrapper">
            <!-- img right -->
            <label ng-hide="croppingDblVphotoRight" class="page-label col" for="dbl-vphoto-right">
              <div class="img-wrapper row f-center">
                <input type="file" id="dbl-vphoto-right" ngf-select ng-model="newPage.images[1]" accept="image/jpeg"
                  ngf-accept="'image/.jpeg'" ngf-max-size="10MB" ngf-fix-orientation="true"
                  ngf-change="cropDblVphotoRight(newPage.images[1])">

                <img class="input-img" ngf-src="newPage.images[1]">
              </div>
            </label>

            <!-- cropper -->
            <label ng-show="croppingDblVphotoRight" class="page-label col" for="cropper">
              <div class="img-wrapper row f-center">
                <ui-cropper class="input-img row f-center" image="newPage.images[1]" area-type="rectangle"
                  aspect-ratio="0.66" result-image-size="{w:1377,h:2065}" result-image-format="image/jpeg"
                  result-image-quality="0.8" result-image="croppedDblVphotoRight" init-max-area="true">
                </ui-cropper>
              </div>
            </label>

            <!-- cropper btns -->
            <div ng-hide="croppingDblVphotoRight" class="crop-btn" ng-click="cropDblVphotoRight(newPage.images[1])">
              Recortar
            </div>
            <div ng-show="croppingDblVphotoRight" class="crop-btn"
              ng-click="applyCropDblVphotoRight(croppedDblVphotoRight)">
              Aplicar</div>
          </div>
        </div>
      </div>

      <div class="module-title row j-end a-center 1">
        <div class="cta-module row j-end a-center">
          <div ng-click="discardPage()" class="back-page-btn">Descartar</div>
          <div ng-click="addPage(newPage, 'dbl-vphoto')" class="add-page-btn">Añadir página</div>
        </div>
      </div>
    </div>

    <!-- full-vphoto page -->
    <div ng-if="newPageFullVphoto" class="page-wrapper col 2/3">
      <div class="form-body col 1">
        <div class="row 1">
          <div class="label-wrapper">
            <!-- img -->
            <label ng-hide="croppingFullVphoto" class="page-label col" for="full-vphoto">
              <div class="img-wrapper row f-center">
                <input type="file" id="full-vphoto" ngf-select ng-model="newPage.images[0]" accept="image/jpeg"
                  ngf-accept="'image/.jpeg'" ngf-max-size="10MB" ngf-fix-orientation="true"
                  ngf-change="cropFullVphoto(newPage.images[0])">

                <img class="input-img" ngf-src="newPage.images[0]">
              </div>
            </label>

            <!-- cropper -->
            <label ng-show="croppingFullVphoto" class="page-label col" for="cropper">
              <div class="img-wrapper row f-center">
                <ui-cropper class="input-img row f-center" image="newPage.images[0]" area-type="rectangle"
                  aspect-ratio="0.66" result-image-size="{w:1494,h:2240}" result-image-format="image/jpeg"
                  result-image-quality="0.8" result-image="croppedFullVphoto" init-max-area="true">
                </ui-cropper>
              </div>
            </label>

            <!-- cropper btns -->
            <div ng-hide="croppingFullVphoto" class="crop-btn" ng-click="cropFullVphoto(newPage.images[0])">Recortar
            </div>
            <div ng-show="croppingFullVphoto" class="crop-btn" ng-click="applyCropFullVphoto(croppedFullVphoto)">Aplicar
            </div>
          </div>
        </div>
      </div>

      <div class="module-title row j-end a-center 1">
        <div class="cta-module row j-end a-center">
          <div ng-click="discardPage()" class="back-page-btn">Descartar</div>
          <div ng-click="addPage(newPage, 'full-vphoto')" class="add-page-btn">Añadir página</div>
        </div>
      </div>
    </div>

    <!-- left-txt-hphoto page -->
    <div ng-if="newPageLeftTxtHphoto" class="page-wrapper col 2/3">
      <div class="form-body col 1">
        <div class="row 1">
          <div class="label-wrapper">
            <!-- img -->
            <label ng-hide="croppingLeftTxtHphoto" class="page-label col" for="left-txt-hphoto">
              <div class="img-wrapper row f-center">
                <input type="file" id="left-txt-hphoto" ngf-select ng-model="newPage.images[0]" accept="image/jpeg"
                  ngf-accept="'image/.jpeg'" ngf-max-size="10MB" ngf-fix-orientation="true"
                  ngf-change="cropLeftTxtHphoto(newPage.images[0])">

                <img class="input-img" ngf-src="newPage.images[0]">
              </div>
            </label>

            <!-- cropper -->
            <label ng-show="croppingLeftTxtHphoto" class="page-label col" for="cropper">
              <div class="img-wrapper row f-center">
                <ui-cropper class="input-img row f-center" image="newPage.images[0]" area-type="rectangle"
                  aspect-ratio="1.5" result-image-size="{w:2163,h:1442}" result-image-format="image/jpeg"
                  result-image-quality="0.8" result-image="croppedLeftTxtHphoto" init-max-area="true">
                </ui-cropper>
              </div>
            </label>

            <!-- cropper btns -->
            <div ng-hide="croppingLeftTxtHphoto" class="crop-btn" ng-click="cropLeftTxtHphoto(newPage.images[0])">
              Recortar
            </div>
            <div ng-show="croppingLeftTxtHphoto" class="crop-btn"
              ng-click="applyCropLeftTxtHphoto(croppedLeftTxtHphoto)">Aplicar
            </div>
          </div>
        </div>

        <div class="row 1">
          <label class="page-label col 1/2">
            <div class="label">TÍTULO DE LA PÁGINA (20 carácteres máximo)</div>
            <input class="big" type="text" maxlength="20" ng-model="newPage.title" placeholder="Título de la página">
          </label>
        </div>

        <div class="row 1">
          <label class="page-label col 1">
            <div class="label">TEXTO (700 carácteres máximo)</div>
            <textarea class="big" maxlength="700" ng-model="newPage.text" placeholder="Texto"></textarea>
          </label>
        </div>
      </div>

      <div class="module-title row j-end a-center 1">
        <div class="cta-module row j-end a-center">
          <div ng-click="discardPage()" class="back-page-btn">Descartar</div>
          <div ng-click="addPage(newPage, 'left-txt-hphoto')" class="add-page-btn">Añadir página</div>
        </div>
      </div>
    </div>

    <!-- right-txt-hphoto page -->
    <div ng-if="newPageRightTxtHphoto" class="page-wrapper col 2/3">
      <div class="form-body col 1">
        <div class="row 1">
          <div class="label-wrapper">
            <!-- img -->
            <label ng-hide="croppingRightTxtHphoto" class="page-label col" for="right-txt-hphoto">
              <div class="img-wrapper row f-center">
                <input type="file" id="right-txt-hphoto" ngf-select ng-model="newPage.images[0]" accept="image/jpeg"
                  ngf-accept="'image/.jpeg'" ngf-max-size="10MB" ngf-fix-orientation="true"
                  ngf-change="cropRightTxtHphoto(newPage.images[0])">

                <img class="input-img" ngf-src="newPage.images[0]">
              </div>
            </label>

            <!-- cropper -->
            <label ng-show="croppingRightTxtHphoto" class="page-label col" for="cropper">
              <div class="img-wrapper row f-center">
                <ui-cropper class="input-img row f-center" image="newPage.images[0]" area-type="rectangle"
                  aspect-ratio="1.5" result-image-size="{w:2163,h:1442}" result-image-format="image/jpeg"
                  result-image-quality="0.8" result-image="croppedRightTxtHphoto" init-max-area="true">
                </ui-cropper>
              </div>
            </label>

            <!-- cropper btns -->
            <div ng-hide="croppingRightTxtHphoto" class="crop-btn" ng-click="cropRightTxtHphoto(newPage.images[0])">
              Recortar
            </div>
            <div ng-show="croppingRightTxtHphoto" class="crop-btn"
              ng-click="applyCropRightTxtHphoto(croppedRightTxtHphoto)">
              Aplicar</div>
          </div>
        </div>

        <div class="row 1">
          <label class="page-label col 1/2">
            <div class="label">TÍTULO DE LA PÁGINA (20 carácteres máximo)</div>
            <input class="big" type="text" maxlength="20" ng-model="newPage.title" placeholder="Título de la página">
          </label>
        </div>

        <div class="row 1">
          <label class="page-label col 1">
            <div class="label">TEXTO (700 carácteres máximo)</div>
            <textarea class="big" maxlength="700" ng-model="newPage.text" placeholder="Texto"></textarea>
          </label>
        </div>
      </div>

      <div class="module-title row j-end a-center 1">
        <div class="cta-module row j-end a-center">
          <div ng-click="discardPage()" class="back-page-btn">Descartar</div>
          <div ng-click="addPage(newPage, 'right-txt-hphoto')" class="add-page-btn">Añadir página</div>
        </div>
      </div>
    </div>

    <!-- left-txt-hphoto page -->
    <div ng-if="newPageLeftTxtVphoto" class="page-wrapper col 2/3">
      <div class="form-body col 1">
        <div class="row 1">
          <div class="label-wrapper">
            <!-- img -->
            <label ng-hide="croppingLeftTxtVphoto" class="page-label col" for="left-txt-vphoto">
              <div class="img-wrapper row f-center">
                <input type="file" id="left-txt-vphoto" ngf-select ng-model="newPage.images[0]" accept="image/jpeg"
                  ngf-accept="'image/.jpeg'" ngf-max-size="10MB" ngf-fix-orientation="true"
                  ngf-change="cropLeftTxtVphoto(newPage.images[0])">

                <img class="input-img" ngf-src="newPage.images[0]">
              </div>
            </label>

            <!-- cropper -->
            <label ng-show="croppingLeftTxtVphoto" class="page-label col" for="cropper">
              <div class="img-wrapper row f-center">
                <ui-cropper class="input-img row f-center" image="newPage.images[0]" area-type="rectangle"
                  aspect-ratio="0.66" result-image-size="{w:1494,h:2240}" result-image-format="image/jpeg"
                  result-image-quality="0.8" result-image="croppedLeftTxtVphoto" init-max-area="true">
                </ui-cropper>
              </div>
            </label>

            <!-- cropper btns -->
            <div ng-hide="croppingLeftTxtVphoto" class="crop-btn" ng-click="cropLeftTxtVphoto(newPage.images[0])">
              Recortar
            </div>
            <div ng-show="croppingLeftTxtVphoto" class="crop-btn"
              ng-click="applyCropLeftTxtVphoto(croppedLeftTxtVphoto)">Aplicar
            </div>
          </div>
        </div>

        <div class="row 1">
          <label class="page-label col 1/2">
            <div class="label">TÍTULO DE LA PÁGINA (20 carácteres máximo)</div>
            <input class="big" type="text" maxlength="20" ng-model="newPage.title" placeholder="Título de la página">
          </label>
        </div>

        <div class="row 1">
          <label class="page-label col 1">
            <div class="label">TEXTO (700 carácteres máximo)</div>
            <textarea class="big" maxlength="700" ng-model="newPage.text" placeholder="Texto"></textarea>
          </label>
        </div>
      </div>

      <div class="module-title row j-end a-center 1">
        <div class="cta-module row j-end a-center">
          <div ng-click="discardPage()" class="back-page-btn">Descartar</div>
          <div ng-click="addPage(newPage, 'left-txt-vphoto')" class="add-page-btn">Añadir página</div>
        </div>
      </div>
    </div>

    <!-- right-txt-hphoto page -->
    <div ng-if="newPageRightTxtVphoto" class="page-wrapper col 2/3">
      <div class="form-body col 1">
        <div class="row 1">
          <div class="label-wrapper">
            <!-- img -->
            <label ng-hide="croppingRightTxtVphoto" class="page-label col" for="right-txt-vphoto">
              <div class="img-wrapper row f-center">
                <input type="file" id="right-txt-vphoto" ngf-select ng-model="newPage.images[0]" accept="image/jpeg"
                  ngf-accept="'image/.jpeg'" ngf-max-size="10MB" ngf-fix-orientation="true"
                  ngf-change="cropRightTxtVphoto(newPage.images[0])">

                <img class="input-img" ngf-src="newPage.images[0]">
              </div>
            </label>

            <!-- cropper -->
            <label ng-show="croppingRightTxtVphoto" class="page-label col" for="cropper">
              <div class="img-wrapper row f-center">
                <ui-cropper class="input-img row f-center" image="newPage.images[0]" area-type="rectangle"
                  aspect-ratio="0.66" result-image-size="{w:1494,h:2240}" result-image-format="image/jpeg"
                  result-image-quality="0.8" result-image="croppedRightTxtVphoto" init-max-area="true">
                </ui-cropper>
              </div>
            </label>

            <!-- cropper btns -->
            <div ng-hide="croppingRightTxtVphoto" class="crop-btn" ng-click="cropRightTxtVphoto(newPage.images[0])">
              Recortar
            </div>
            <div ng-show="croppingRightTxtVphoto" class="crop-btn"
              ng-click="applyCropRightTxtVphoto(croppedRightTxtVphoto)">
              Aplicar</div>
          </div>
        </div>

        <div class="row 1">
          <label class="page-label col 1/2">
            <div class="label">TÍTULO DE LA PÁGINA (20 carácteres máximo)</div>
            <input class="big" type="text" maxlength="20" ng-model="newPage.title" placeholder="Título de la página">
          </label>
        </div>

        <div class="row 1">
          <label class="page-label col 1">
            <div class="label">TEXTO (700 carácteres máximo)</div>
            <textarea class="big" maxlength="700" ng-model="newPage.text" placeholder="Texto"></textarea>
          </label>
        </div>
      </div>

      <div class="module-title row j-end a-center 1">
        <div class="cta-module row j-end a-center">
          <div ng-click="discardPage()" class="back-page-btn">Descartar</div>
          <div ng-click="addPage(newPage, 'right-txt-vphoto')" class="add-page-btn">Añadir página</div>
        </div>
      </div>
    </div>

    <div class="form-bg col 1">
      <h4>
        Páginas añadidas
        <br>
        <span>Nota: La páginas portada y contraportada se añaden de forma automática.</span>
      </h4>
      <div class="row 1">
        <div ng-if="!form.pages.length" class="row 1/3">
          <p class="page-warning">No se ha añadido ninguna página</p>
        </div>

        <ul ng-if="form.pages.length" class="page-card-wrapper row 1">
          <li class="page-card row a-center" ng-repeat="page in form.pages">
            <img ng-if="!demandImg" ng-src="./assets/img/{{ page.type }}.svg" alt="{{ page.page }}"
              ng-click="showImg()">
            <img ng-if="demandImg" ngf-src="page.images[0]" alt="{{ page.page }}">
            <div class="page-info col">
              <span>PÁGINA {{ $index + 1 }}</span>

              <p>
                {{
                  page.type === 'full-img' ? '1 imágen' : page.type &&
                  page.type === 'triple-img' ? '3 imágenes' : page.type &&
                  page.type === 'txt-img' ? 'Texto e imágen' : page.type &&
                  page.type === 'full-txt' ? 'Solo texto' : page.type
                }}
              </p>
            </div>

            <div class="btn-delete-page">
              <i ng-click="deletePage($index)" class="fas fa-trash-alt"></i>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div ng-show="progress.state" class="progress-wrapper col">
    <div class="progress-animation row f-center 1">
      <img src="../../assets/img/imago.svg" alt="Loading...">
    </div>

    <div class="actual-task col a-center 1">
      <h3>{{ progress.msg }}</h3>
      <div class="progress-bar-wrapper row f-center 1">
        <progress value="{{ progress.part }}" max="100"></progress>
      </div>
    </div>
  </div>
</form>