@import "../../../assets/scss/vars";

.form-dossier {
  position: relative;
  height: 100%;

  .module-title {
    height: 70px;
    border-bottom: 1px solid $border;
    padding: 0 20px;

    .cta-mobile {
      display: none;
    }

    .cta-module {
      .back-btn {
        box-shadow: inset 0 0 0 2px $border;
        border-radius: 4px;
        color: $sub;
        margin-right: 10px;
        padding: 10px 20px;
        font-size: 14px;
      }

      .add-btn,
      .pdf-btn {
        background: $grad;
        border-radius: 4px;
        font-weight: bold;
        color: #000;
        font-size: 14px;
      }

      .pdf-btn {
        cursor: pointer;
        padding: 10px 20px;
        margin-right: 10px;
        background: $salmon;
      }
    }
  }

  .form-body {
    padding: 30px;

    h4 {
      margin-bottom: 20px;

      span {
        font-weight: lighter;
        font-size: 12px;
        color: $sub;
        text-transform: uppercase;
      }
    }

    .form-bg {
      padding: 20px;
      padding-bottom: 10px;
      background: $bg;
      border-radius: 7px;

      &:not(:last-of-type) {
        margin-bottom: 30px;
      }

      &:last-of-type {
        margin-top: 30px;
      }
    }

    label {
      padding: 0 10px;
      margin-bottom: 20px;

      .label {
        font-size: 12px;
        color: $sub;
        font-weight: lighter;
        padding-left: 10px;
        margin-bottom: 10px;
      }

      input,
      select,
      textarea {
        width: 100%;
        border: 1px solid $border;
        border-radius: 7px;
        color: $salmon;
        font-size: 18px;

        option {
          color: #000;

          &:disabled {
            color: $bg-light;
          }
        }
      }

      textarea {
        background: transparent;
        resize: none;
        padding: 10px 20px;
        height: 150px;
      }
    }

    .page-type-card {
      cursor: pointer;
      width: 225px;
      height: 80px;
      padding: 10px;
      background: $bg;
      border-radius: 7px;
      box-shadow: 0 5px 10px 0 rgba(#000, 0.2);
      margin: 10px;

      &:hover {
        box-shadow: 0 5px 10px 0 rgba(#000, 0.2), inset 0 0 0 2px $border;
      }

      img {
        width: 80px;
        height: 50px;
        object-fit: contain;
        object-position: center;
      }

      .label {
        width: calc(100% - 80px);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        padding: 0;
        padding-left: 10px;
      }
    }

    .page-wrapper {
      border: 1px solid $border;
      border-radius: 7px;

      .module-title {
        height: 50px;
        border-top: 1px solid $border;
        border-bottom: none;

        .back-page-btn,
        .add-page-btn {
          cursor: pointer;
          padding: 10px 20px;
          border-radius: 7px;
          background: $salmon;
          color: #000;
          font-weight: bold;
          font-size: 12px;
          font-weight: bold;
          text-transform: uppercase;
          margin-left: 10px;
        }

        .back-page-btn {
          background: transparent;
          border: 2px solid $border;
          padding: 9px 20px;
          color: $sub;
        }
      }

      .form-body {
        padding: 0;

        .page-label {
          padding: 10px;
        }

        .break {
          width: 100%;
          display: flex;
        }

        .label-wrapper {
          padding: 10px;

          label {
            padding: 0;
            margin-bottom: 0;
          }

          .crop-btn {
            cursor: pointer;
            width: 100%;
            padding: 10px 0;
            text-align: center;
            box-shadow: inset 0 0 0 2px $border;
            border-radius: 0 0 5px 5px;
          }
        }

        label[for="full-img"],
        label[for="left-txt-img"],
        label[for="right-txt-img"],
        label[for="dbl-img-left"],
        label[for="dbl-img-right"],
        label[for="full-hphoto"],
        label[for="dbl-vphoto-left"],
        label[for="dbl-vphoto-right"],
        label[for="full-vphoto"],
        label[for="left-txt-hphoto"],
        label[for="right-txt-hphoto"],
        label[for="left-txt-vphoto"],
        label[for="right-txt-vphoto"],
        label[for="cropper"] {
          .img-wrapper {
            cursor: pointer;
            position: relative;
            width: 250px;
            height: calc(250px / 1.414);
            background: #000 url("../img/avatar.jpg") no-repeat center;
            background-size: contain;
            border-radius: 5px 5px 0 0;
            overflow: hidden;

            input {
              display: none;
            }

            .input-img {
              width: 100%;
              height: 100%;
              background: #000;
              object-fit: contain;
            }

            canvas {
              margin: 0 !important;
            }
          }
        }

        label[for="full-img"],
        label[for="left-txt-img"],
        label[for="right-txt-img"],
        label[for="dbl-img-left"],
        label[for="dbl-img-right"],
        label[for="full-hphoto"],
        label[for="dbl-vphoto-left"],
        label[for="dbl-vphoto-right"],
        label[for="full-vphoto"],
        label[for="left-txt-hphoto"],
        label[for="right-txt-hphoto"],
        label[for="left-txt-vphoto"],
        label[for="right-txt-vphoto"] {
          .img-wrapper:after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f030";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(#000, 0.85);
            color: $base;
            font-size: 40px;
            opacity: 0;
            transition: opacity 0.2s;
          }

          .img-wrapper:hover:after {
            opacity: 1;
          }
        }
      }
    }

    .page-warning {
      background: $bg;
      padding: 15px 30px;
      border-radius: 7px;
    }

    .page-card {
      height: 70px;
      background: $bg;
      border-radius: 7px;
      border: 1px solid $border;
      overflow: hidden;
      margin: 0 15px 15px 0;

      img {
        cursor: pointer;
        width: 70px;
        height: 70px;
        background: $box-bg;
        object-fit: cover;
        object-position: center;
        border-right: 1px solid $border;
      }

      p,
      span {
        padding: 0 20px;
        color: $salmon;
      }

      span {
        color: $sub;
        font-size: 12px;
        font-weight: lighter;
        text-transform: uppercase;
      }

      .btn-delete-page {
        width: 60px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $sub;
        transition: 0.2s;

        i {
          cursor: pointer;

          &:hover {
            color: $base;
          }
        }
      }
    }
  }
}
