@import "../../../assets/scss/vars";

.form-dossier {
  .module-title {
    height: 70px;
    padding: 0 15px;

    h3 {
      font-size: 10px;
      font-weight: lighter;
    }

    .cta-desktop {
      display: none;
    }

    .cta-mobile {
      display: inherit;
    }

    .cta-module {
      .add-btn,
      .pdf-btn,
      .back-btn {
        background: none;
        font-size: 16px;
        padding: 10px;
        color: $sub;
        box-shadow: none;
      }

      .add-btn {
        color: $salmon;
        font-size: 20px
      }
    }
  }

  .form-body {
    padding: 10px;

    h4 {
      margin-bottom: 15px;

      span {
        font-size: 10px;
      }
    }

    .form-bg {
      padding: 10px;
      padding-bottom: 5px;
      border-radius: 5px;

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

      &:first-of-type {
        margin-bottom: 30px;
      }
    }

    label {
      padding: 0;

      .label {
        font-size: 12px;
        padding-left: 15px;
      }

      input,
      select {
        font-size: 14px;
        padding: 12px 15px;
        border-radius: 5px;
      }

      .select-page {
        width: calc(100% - 128px);
      }

      .select-cta {
        width: 128px;
      }
    }

    .page-type-card {
      cursor: pointer;
      width: calc(50% - 10px);
      height: 60px;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      border-radius: 5px;
      margin: 5px;

      &:hover {
        box-shadow: 0 5px 10px 0 rgba(#000, 0.2);
      }

      img {
        display: none;
      }

      .label {
        width: 100%;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        padding-left: 0;
      }
    }

    .page-wrapper {
      border-radius: 5px;

      .module-title {
        .back-page-btn,
        .add-page-btn {
          cursor: pointer;
          border-radius: 5px;
          font-size: 10px;
          padding: 10px;
        }

        .back-page-btn {
          padding: 9px 10px;
        }
      }

      .form-body {
        padding: 10px;

        .page-label {
          .img-wrapper {
            border-radius: 5px;
            height: 25vh;

            &:after {
              display: none !important;
            }
          }
        }

        label[for="btn-img"] {
          height: auto;
        }
      }
    }

    .page-warning {
      width: 100%;
      font-size: 12px;
      text-align: center;
    }

    .page-card {
      width: 100%;
      margin-right: 0;

      p {
        font-size: 14px;
      }

      span {
        font-size: 10px;
      }

      .btn-delete-page {
        margin-left: auto;
      }
    }
  }
}
