<div class="module-dossier module-wrapper col 1">
  <div class="module-title row j-between a-center 1">
    <div class="search-box row a-center">
      <i ng-if="!activePreview" class="fas fa-search"></i>
      <input ng-if="!activePreview" type="text" class="input-db lil" ng-model="inputModule" placeholder="Buscar...">
    </div>

    <div class="cta-module row j-end a-center">
      <a ng-if="!activePreview" ui-sref="modules({m: 'form-dossiers', data: null})" class="lil add-btn">Nuevo</a>
      <a ng-if="!activePreview" ui-sref="projects" class="lil app-btn-desk">VISITAR WEB</a>
      <a ng-if="activePreview" class="lil app-btn-desk" ng-click="closePreview()">CERRAR</a>
      <a ui-sref="projects" class="app-btn-mob"><i class="fas fa-globe-americas"></i></a>
    </div>
  </div>

  <ul class="module-list scroll">
    <li class="card row a-center 1" ng-repeat="item in moduleData | filter: inputModule">
      <!-- card-box -->
      <div class="card-inner row j-between a-center">
        <!-- card data -->
        <div ng-click="edit(item)" class="card-data col j-center nowrap">
          <p class="title">{{ item.name }}</p>
          <div class="row">
            <p>CREADO: <span>{{ item._created.seconds * 1000 | date }}</span></a>
          </div>
        </div>

        <!-- card cta -->
        <div class="cta-box row j-end a-center">
          <select ng-model="moduleSelected">
            <option ng-repeat="m in item.modules" value="{{ m }}">{{ m }}</option>
          </select>
          <button ng-click="print(item, moduleSelected)" class="lil print-btn row a-center">PDF</button>
          <button ng-click="preview(item, moduleSelected)" class="preview-btn row a-center"><i class="far fa-eye"></i></button>
        </div>
      </div>

      <!-- delete card -->
      <div ng-click="delete(item)" class="delete-btn row a-center">
        <i class="fas fa-trash-alt"></i>
        <p>BORRAR</p>
      </div>
    </li>
    <iframe></iframe>
  </ul>

  <div ng-show="progress.state" class="progress-wrapper col">
    <div class="progress-animation row f-center 1">
      <img src="../../assets/img/imago.svg" alt="Loading...">
    </div>

    <div class="actual-task col a-center 1">
      <h3>{{ progress.msg }}</h3>
      <div class="progress-bar-wrapper row f-center 1">
        <progress value="{{ progress.part }}" max="100"></progress>
      </div>
    </div>
  </div>
</div>