@import "../../../assets/scss/vars";

.module-dossier {
  .module-title {
    height: 70px;
    padding: 0 15px;

    .search-box {
      width: calc(100% - 110px);

      i {
        width: 20px;
        font-size: 14px;
      }

      input {
        width: calc(100% - 20px);
        font-size: 14px;
        padding-right: 0;
      }
    }

    .cta-module {
      width: auto;
      .add-btn {
        font-size: 10px;
        text-transform: uppercase;
        padding: 10px 15px;
      }

      .app-btn-desk {
        display: none;
      }

      .app-btn-mob {
        display: inherit;
        color: $sub;
        font-size: 20px;
        margin-left: 10px;
      }
    }
  }

  .module-list {
    padding: 20px;

    .card {
      position: relative;
      margin-bottom: 10px;

      .card-inner {
        width: 100%;
        height: auto;
        padding: 15px;
        flex-direction: column;

        &:hover {
          box-shadow: 0 5px 10px 0 rgba(#000, 0.4);
        }

        .card-data {
          width: 100%;
          margin-bottom: 15px;

          .title {
            font-size: 12px;
          }

          a {
            font-size: 10px;
            margin-right: 5px;
          }
        }

        .cta-box {
          width: 100%;
          justify-content: flex-start;

          select {
            width: calc(100% - 60px);
            margin-right: 10px;
            padding: 10px;
            font-size: 12px;
            font-weight: lighter;
          }

          .print-btn {
            border-radius: 5px;
            font-size: 10px;
            padding: 10px 12px;
          }

          .preview-btn {
            display: none;
          }
        }
      }

      .delete-btn {
        position: absolute;
        top: 10px;
        right: 0;
        width: 30px;
        height: 30px;

        i {
          font-size: 14px;
        }

        p {
          display: none;
        }
      }
    }
  }
}
