<form class="form-trabajadores col 1" ng-submit="checkPush(form)">
  <div class="module-title row j-between a-center 1">
    <h3 class="ref">Ref.: {{ form.ref }}</h3>

    <!-- desktop btn -->
    <div class="cta-module row j-end a-center cta-desktop">
      <a ng-if="currentData === null" onclick="history.back()" class="lil back-btn">Cancelar</a>
      <a ng-if="currentData !== null" onclick="history.back()" class="lil back-btn">Cerrar</a>

      <div ng-if="currentData !== null" class="pdf-btn" ng-click="print(form, form.modules[0])">PDF</div>

      <button ng-if="currentData === null" class="lil add-btn">Crear</button>
      <button ng-if="currentData !== null" class="lil add-btn">Actualizar</button>
    </div>

    <!-- mobile btn -->
    <div class="cta-module row j-end a-center cta-mobile">
      <a onclick="history.back()" class="lil back-btn"><i class="fas fa-arrow-left"></i></a>

      <div ng-if="currentData !== null" class="pdf-btn" ng-click="print(form, form.modules[0])"><i
          class="fas fa-file"></i></div>

      <button class="lil add-btn"><i class="fas fa-save"></i></button>
    </div>
  </div>

  <div class="form-body scroll">
    <div class="form-bg col 1">
      <h4 ng-click="getQR(form)">Información personal</h4>
      <div class="row 1">
        <div class="label-wrapper">
          <!-- img -->
          <label ng-hide="cropping" class="col" for="image">
            <div class="label">FOTOGRAFÍA</div>

            <div class="img-wrapper row f-center">
              <input type="file" id="image" ngf-select ng-model="form.img" accept="image/jpeg"
                ngf-accept="'image/.jpeg'" ngf-max-size="10MB" ngf-fix-orientation="true">

              <img class="input-img" ngf-src="form.img">
            </div>
          </label>

          <!-- cropper -->
          <label ng-show="cropping" class="col" for="cropper">
            <div class="label">FOTOGRAFÍA</div>

            <div class="img-wrapper row f-center">
              <ui-cropper class="input-img row f-center" image="form.img" area-type="rectangle" aspect-ratio="1"
                result-image-size="{w:200,h:200}" result-image-format="image/jpeg" result-image-quality="0.8"
                result-image="croppedImg">
              </ui-cropper>
            </div>
          </label>

          <!-- cropper-btns -->
          <div ng-hide="cropping" class="crop-btn" ng-click="cropImg(form.img)">Recortar</div>
          <div ng-show="cropping" class="crop-btn" ng-click="applyCrop(croppedImg)">Aplicar</div>
        </div>
      </div>

      <div class="row 1">
        <label class="col 1/3">
          <div class="label">NOMBRE</div>
          <input class="big" type="text" ng-model="form.name" placeholder="Nombre" required>
        </label>
        <label class="col 1/3">
          <div class="label">APELLIDOS</div>
          <input class="big" type="text" ng-model="form.lastname" placeholder="Apellidos" required>
        </label>
      </div>

      <div class="row 1">
        <label class="col 1/4">
          <div class="label">GÉNERO</div>
          <select class="big" ng-model="form.gender" required>
            <option value="" disabled>Selecciona género</option>
            <option value="male">Hombre</option>
            <option value="female">Mujer</option>
          </select>
        </label>
        <label class="col 1/2">
          <div class="label">FECHA DE NACIMIENTO</div>
          <div class="row 1">
            <input class="big input-day" type="number" ng-model="form.birth.day" placeholder="Día" required>
            <select class="big input-month" type="number" ng-model="form.birth.month" required>
              <option value="" disabled>Mes</option>
              <option ng-repeat="month in months" value="{{ month }}">{{ month }}</option>
            </select>
            <input class="big input-year" type="number" ng-model="form.birth.year" placeholder="Año" required>
          </div>
        </label>
      </div>
    </div>

    <div class="form-bg col 1">
      <h4>Contacto</h4>
      <div class="row 1">
        <label class="col 1/3">
          <div class="label">DIRECCIÓN</div>
          <input class="big" type="text" ng-model="form.address" placeholder="Dirección" required>
        </label>
        <label class="col 1/3">
          <div class="label">TELÉFONO</div>
          <input class="big" type="tel" ng-model="form.phone" placeholder="Teléfono" required>
        </label>
        <label class="col 1/3">
          <div class="label">EMAIL</div>
          <input class="big" type="email" ng-model="form.email" placeholder="Email" required>
        </label>
      </div>
    </div>

    <div class="form-bg col 1">
      <h4>Información laboral</h4>
      <div class="row 1">
        <label class="col 1/3">
          <div class="label">POSICIÓN</div>
          <input class="big" type="text" ng-model="form.position" placeholder="Posición" required>
        </label>
      </div>
      <div ng-if="form.qr" class="row 1">
        <label class="col 1/3">
          <div class="label">CODIGO QR</div>
          <img ng-src="{{ form.qr }}" alt="QR Code" class="qr">
        </label>
      </div>
    </div>
  </div>

  <div ng-show="progress.state" class="progress-wrapper col">
    <div class="progress-animation row f-center 1">
      <img src="../../assets/img/imago.svg" alt="Loading...">
    </div>

    <div class="actual-task col a-center 1">
      <h3>{{ progress.msg }}</h3>
      <div class="progress-bar-wrapper row f-center 1">
        <progress value="{{ progress.part }}" max="100"></progress>
      </div>
    </div>
  </div>
</form>