@import "../../../assets/scss/vars";

.form-trabajadores {
  .module-title {
    height: 70px;
    padding: 0 15px;

    h3 {
      font-size: 10px;
      font-weight: lighter;
    }

    .cta-desktop {
      display: none;
    }

    .cta-mobile {
      display: inherit;
    }

    .cta-module {
      .add-btn,
      .pdf-btn,
      .back-btn {
        background: none;
        font-size: 16px;
        padding: 10px;
        color: $sub;
        box-shadow: none;
      }
    }
  }

  .form-body {
    padding: 10px;

    h4 {
      margin-bottom: 15px;
    }

    .form-bg {
      padding: 10px;
      padding-bottom: 5px;
      border-radius: 5px;
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }

    label {
      padding: 10px 0;

      .label {
        font-size: 10px;
        padding-left: 15px;
      }

      .img-wrapper {
        width: 150px;
        height: 150px;

        &:after {
          display: none !important;
        }
      }

      input,
      select {
        font-size: 14px;
        padding: 12px 15px;
        border-radius: 5px;
      }

      .input-day {
        width: 20%;
        border-radius: 7px 0 0 7px;
      }
      .input-month {
        width: 40%;
        border-radius: 0;
      }
      .input-year {
        width: 40%;
        border-radius: 0 7px 7px 0;
      }
    }
  }
}
