@import "../../../assets/scss/vars";

.form-trabajadores {
  position: relative;
  height: 100%;

  .module-title {
    height: 70px;
    border-bottom: 1px solid $border;
    padding: 0 20px;

    .cta-mobile {
      display: none;
    }

    .cta-module {
      .back-btn {
        box-shadow: inset 0 0 0 2px $border;
        border-radius: 4px;
        color: $sub;
        margin-right: 10px;
        padding: 10px 20px;
        font-size: 14px;
      }

      .add-btn,
      .pdf-btn {
        background: $grad;
        border-radius: 4px;
        font-weight: bold;
        color: #000;
        font-size: 14px;
      }

      .pdf-btn {
        cursor: pointer;
        padding: 10px 20px;
        margin-right: 10px;
        background: $salmon;
      }
    }
  }

  .form-body {
    padding: 30px;

    h4 {
      margin-bottom: 20px;
    }

    .form-bg {
      padding: 20px;
      padding-bottom: 10px;
      background: $bg;
      border-radius: 7px;
      &:not(:last-of-type) {
        margin-bottom: 30px;
      }
    }

    label {
      padding: 10px;

      .label {
        font-size: 12px;
        color: $sub;
        font-weight: lighter;
        padding-left: 10px;
        margin-bottom: 10px;
      }

      input,
      select {
        width: 100%;
        border: 1px solid $border;
        border-radius: 7px;
        color: $salmon;
        font-size: 18px;

        option {
          color: #000;

          &:disabled {
            color: $bg-light;
          }
        }
      }

      .input-day {
        width: 20%;
        border-radius: 7px 0 0 7px;
      }
      .input-month {
        width: 40%;
        border-radius: 0;
      }
      .input-year {
        width: 40%;
        border-radius: 0 7px 7px 0;
      }
    }

    .label-wrapper {
      padding: 10px;

      label {
        padding: 0;
        margin-bottom: 0;
      }

      .crop-btn {
        cursor: pointer;
        width: 100%;
        padding: 10px 0;
        text-align: center;
        box-shadow: inset 0 0 0 2px $border;
        border-radius: 0 0 5px 5px;
      }
    }

    label[for="image"],
    label[for="cropper"] {
      .img-wrapper {
        cursor: pointer;
        position: relative;
        width: 250px;
        height: 250px;
        background: #000 url("../img/avatar.jpg") no-repeat center;
        border-radius: 5px 5px 0 0;
        overflow: hidden;

        input {
          display: none;
        }

        .input-img {
          width: 100%;
          height: 100%;
          background: #000;
          object-fit: contain;
        }

        canvas {
          margin: 0 !important;
        }
      }
    }

    label[for="image"] {
      .img-wrapper:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f030";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(#000, 0.85);
        color: $base;
        font-size: 40px;
        opacity: 0;
        transition: opacity 0.2s;
      }

      .img-wrapper:hover:after {
        opacity: 1;
      }
    }
  }
}
