@import "../../../assets/scss/vars";

$cmykbg-light: #464646;
$cmykbg-dark: #0a0a0a;
$cmykbg: radial-gradient($cmykbg-light, $cmykbg-dark);

.projects-box {
  position: fixed;
  top: 0;
  left: 0;
  background: $cmykbg;
  z-index: 2;

  * {
    font-family: Lora;
    color: #fff;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    padding: 0 50px;

    img {
      width: 150px;
    }

    .btn {
      border: 1px solid #fff;
      font-size: 18px;
      padding: 7px 20px;

      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }

  .scroll-wrapper {
    position: fixed;
    top: 120px;
    left: 0;
    height: calc(100% - 120px);

    h1,
    h2,
    h3,
    h4 {
      font-family: "Circular Std";
    }

    .content {
      width: 100%;
      padding: 0 calc(50% - (1300px / 2));

      h1 {
        width: 100%;
        text-align: center;
        margin: 40px 0;
        font-size: 50px;
        padding: 0 40px;
      }

      .div {
        width: 250px;
        height: 2px;
        background: #fff;
        margin: 0 auto;
        margin-bottom: 40px;
      }

      .card-wrapper {
        padding: 0 40px 40px 40px;
      }

      .card {
        cursor: pointer;
        position: relative;
        width: calc(50% - 20px);
        height: 400px;
        margin: 10px;
        box-shadow: 0 5px 10px 0 rgba(#000, 0.7);
        background: #000;
        padding: 20px;

        &:hover .card-img {
          opacity: 0.3;
        }

        .card-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          transition: 0.5s;
        }
      }

      .page-wrapper {
        width: 100%;
      }

      .page {
        width: 100%;
        max-height: 75vh;
        margin-bottom: 80px;
        padding: 0 40px 40px 40px;

        .full-img {
          width: 100%;
          max-height: 75vh;
          object-fit: cover;
          object-position: center;
          box-shadow: 0 5px 10px 0 rgba(#000, 0.7);
        }

        .txt-img {
          width: 100%;
          max-height: 75vh;

          .txt-left {
            width: calc(100% - 75vh);
            height: 100%;
            padding: 40px 80px 40px 0;

            h2 {
              margin-bottom: 40px;
              font-size: 40px;
            }

            p {
              line-height: 1.8;
            }

            .div {
              margin: 0;
              margin-bottom: 40px;
            }
          }

          img {
            width: 75vh;
            max-height: 75vh;
            object-fit: cover;
            object-position: center;
            box-shadow: 0 5px 10px 0 rgba(#000, 0.7);
          }
        }

        .triple-img {
          width: 100%;
          max-height: 75vh;

          .img-left {
            width: 65%;
            height: 75vh;

            img {
              width: 100%;
              height: calc(50% - 10px);
              margin-bottom: 20px;
              object-fit: cover;
              object-position: center;
              box-shadow: 0 5px 10px 0 rgba(#000, 0.7);
            }
          }

          .img-right {
            width: calc(35% - 20px);
            height: 75vh;
            margin-left: 20px;
            object-fit: cover;
            object-position: center;
            box-shadow: 0 5px 10px 0 rgba(#000, 0.7);
          }
        }

        .full-txt {
          width: 100%;
          max-height: 75vh;
          margin-top: 40px;

          h2 {
            width: 100%;
            text-align: center;
            margin-bottom: 40px;
            font-size: 40px;
          }

          p {
            width: 100%;
            max-width: 900px;
            text-align: center;
            line-height: 1.8;
          }
        }
      }
    }
  }
}
