@import "../../../assets/scss/vars";

.projects-box {
  nav {
    height: 70px;
    padding: 0 20px;

    img {
      width: 100px;
    }

    .btn {
      font-size: 14px;
    }
  }

  .scroll-wrapper {
    top: 70px;
    height: calc(100% - 70px);

    .content {
      h1 {
        font-size: 25px;
        padding: 0 20px;
        margin-bottom: 30px;
      }

      .div {
        width: 125px;
        margin-bottom: 30px;
      }

      .card-wrapper {
        padding: 0 20px;
      }

      .card {
        width: 100%;
        height: 250px;
        margin: 0;
        margin-bottom: 20px;

        .card-img {
          opacity: 0.5;
        }
      }

      .page {
        max-height: none;
        height: auto;
        padding: 0 20px;
        margin-bottom: 20px;

        .txt-img {
          max-height: none;
          margin-top: 40px;

          .txt-left {
            width: 100%;
            padding: 0;
            margin-bottom: 20px;
            padding: 0;

            h2 {
              font-size: 25px;
              margin-bottom: 30px;
            }

            .div {
              margin-bottom: 30px;
            }

            p {
              width: 100%;
              word-wrap: break-word;
              font-size: 14px;
              line-height: 1.6;
            }
          }

          img {
            height: calc(100vw - 40px);
          }
        }

        .triple-img {
          max-height: none;
          height: auto;

          .img-left {
            height: calc(100vw / 2);
          }

          .img-right {
            height: calc(100vw / 2);
          }
        }

        .full-txt {
          max-height: none;
          height: auto;
          align-items: flex-start;

          
          h2 {
            font-size: 25px;
            margin-bottom: 30px;
            text-align: left;
          }
          
          .div {
            margin: 0;
            margin-bottom: 30px;
          }
          
          p {
            width: 100%;
            font-size: 14px;
            line-height: 1.6;
            text-align: left;
            word-wrap: break-word;
          }
        }
      }
    }
  }
}
