<div class="projects-box viewport col j-between">
  <nav class="row j-between a-center 1">
    <img src="../../../assets/img/logo-cmyk.svg" alt="CMYK" class="logo">
    <a ng-hide="isOpen" href="https://cmyk.life/" class="btn">Atrás</a>
    <a ng-show="isOpen" ng-click="close()" class="btn">Atrás</a>
  </nav>

  <div class="scroll-wrapper col a-center 1">
    <div class="content scroll">
      <h1 ng-hide="isOpen">Nuestros proyectos</h1>
      <h1 ng-show="isOpen">{{ project.name }}</h1>
      <div class="div"></div>

      <div ng-hide="isOpen" class="card-wrapper row j-center 1">
        <div class="card col j-end" ng-repeat="item in projects" ng-click="open(item.ref)">
          <img ng-src="{{item.pages[0].images[0]}}" alt="item.name" class="card-img">
          <h2>{{ item.name }}</h2>
          <p>{{ item._created.seconds * 1000 | date }}</p>
        </div>
      </div>

      <div ng-show="isOpen" class="modal-wrapper col a-center 1">
        <div class="page-wrapper" ng-repeat="page in project.pages">
          <div class="page">
            <!-- full-img -->
            <img ng-if="page.type === 'full-img'" ng-src="{{page.images[0]}}" class="full-img">

            <!-- txt-img -->
            <div ng-if="page.type === 'txt-img'" class="txt-img row">
              <div class="txt-left col">
                <h2>{{page.title}}</h2>

                <div class="div"></div>

                <p>{{page.text}}</p>
              </div>
              <img ng-src="{{page.images[0]}}">
            </div>

            <!-- triple-img -->
            <div ng-if="page.type === 'triple-img'" class="triple-img row">
              <div class="img-left col">
                <img ng-src="{{page.images[0]}}">
                <img ng-src="{{page.images[1]}}">
              </div>
              <img ng-src="{{page.images[2]}}" class="img-right">
            </div>

            <!-- full-txt -->
            <div ng-if="page.type === 'full-txt'" class="full-txt col a-center">
              <h2>{{page.title}}</h2>

              <div class="div"></div>

              <p>{{page.text}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>