@import "../../../assets/scss/vars";

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  height: 100%;
  background: $box-dark;
  border-right: 1px solid $border;

  .logo img {
    cursor: pointer;
    width: 50%;
    height: 50%;
    object-fit: contain;
    object-position: center;
  }

  .btn-box {
    width: 100%;
    height: 90px;
    user-select: none;
    -webkit-user-drag: none;
    
    i {
      font-size: 20px;
      color: $sub;
      transition: 0.2s;
    }

    &:hover {
      i {
        color: $base;
      }
    }
  }

  .active-menu {
    border-right: 3px solid $gold;
  }
}
