<nav class="col j-between a-center">
  <div ng-click="reload()" class="logo btn-box row f-center">
    <img src="../../assets/img/imago.svg" alt="Playout">
  </div>

  <div class="menu col a-center 1">
    <a ui-sref="modules({m: null, data: null})" class="db-btn btn-box row f-center"
      ng-class="{'active-menu': currentState === 'modules'}">
      <i class="fas fa-database"></i>
    </a>
    <!-- <a ui-sref="transfer" class="trnf-btn btn-box row f-center" ng-class="{'active-menu': currentState === 'transfer'}">
      <i class="fas fa-box-open"></i>
    </a> -->
    <!-- <a ui-sref="chat" class="chat-btn btn-box row f-center" ng-class="{'active-menu': currentState === 'chat'}">
      <i class="fas fa-comments"></i>
    </a> -->
    <a ui-sref="editor" class="edt-btn btn-box row f-center disabled" ng-class="{'active-menu': currentState === 'editor'}">
      <i class="fas fa-pen-nib"></i>
    </a>
    <a ui-sref="options" class="opt-btn btn-box row f-center" ng-class="{'active-menu': currentState === 'options'}">
      <i class="fas fa-cog"></i>
    </a>
  </div>

  <a ui-sref="contact" class="contact btn-box row f-center" ng-class="{'active-menu': currentState === 'contact'}">
    <i class="fas fa-envelope"></i>
  </a>
</nav>