@import "../../../assets/scss/vars";

nav {
    width: 0;
    background: none;
    border-right: none;
    z-index: 1;

    .logo {
        position: fixed;
        top: 0;
        left: 0;
        width: 65px;
        height: 65px;
        justify-content: flex-start;
        background: $box-dark;
        border-bottom: 1px solid $border;

        img {
            width: 60px;
        }
    }

    .menu {
        position: fixed;
        bottom: 0;
        left: 0;
        flex-direction: row;
        background: $box-dark;
        border-top: 1px solid $border;

        .btn-box {
            height: 75px;
        }
    }

    .contact {
        display: none;
    }

    .active-menu {
        border-right: none;
        border-top: 3px solid $gold;
    }
}