<c-topbar></c-topbar>

<div class="chat-wrapper row">
    <div class="module-chat module-wrapper col 1">
        <div class="module-title row j-between a-center 1">
            <div class="call-box row a-center 1/2">
                <span>Tu número</span>
                <input type="text" ng-model="randomID" disabled>
                <button ng-click="copyNum(randomID, $event)" class="call-btn lil"><i
                        class="fas fa-clipboard-list"></i></button>
            </div>

            <div class="call-box row a-center 1/2">
                <span>Llamar al</span>
                <input type="text" ng-model="callToNum" ng-enter="startRemote($event)" placeholder="000-000-000-0000">
                <button ng-click="startRemote($event)" class="call-btn lil"><i class="fas fa-phone"></i></button>
            </div>
        </div>

        <div class="module-list-wrapper row 1">
            <ul class="module-list viewport standby" ng-init="startLocal()">
                <video id="videoOut" playsinline autoplay muted></video>
            </ul>

            <ul class="module-list viewport nosignal">
                <video id="videoIn" playsinline autoplay></video>
            </ul>
        </div>

        <div ng-show="progress.state" class="progress-wrapper col">
            <div class="progress-animation row f-center 1">
                <img src="../../assets/img/imago.svg" alt="Loading...">
            </div>

            <div class="actual-task col a-center 1">
                <h3>{{ progress.msg }}</h3>
                <div class="progress-bar-wrapper row f-center 1">
                    <progress ng-show="progress.part" value="{{ progress.part }}" max="100"></progress>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="list-footer row 1 a-center">
        <p>{{ modulesInfo }}</p>
    </div>
</div>