@import "../../../assets/scss/vars";

.chat-wrapper {
  width: calc(100% - 100px);
  height: calc(100% - 160px);
  margin-top: 10px;
  margin-left: 50px;
  background: $box-dark;
  border: 1px solid $border;
  border-radius: 7px;
  overflow: hidden;

  .module-chat {
    position: relative;
    height: 100%;

    .module-title {
      height: 70px;
      border-bottom: 1px solid $border;

      .call-box {
        height: 100%;
        background: #000;
        border-right: 1px solid $border;
        padding-right: 20px;

        span {
          padding: 20px;
          color: $sub;
        }

        input {
          cursor: text;
          font-size: 26px;
          color: $base;
        }

        &:last-of-type input {
          color: $salmon;
        }

        .call-btn {
          color: $salmon;
          margin-left: auto;
          border-radius: 7px;
          font-size: 18px;
          padding: 10px;
        }

        .tooltip {
          position: relative;

          &:after {
            content: "Copiado";
            position: absolute;
            bottom: -40px;
            left: -200%;
            background: #000;
            border: 1px solid $border;
            font-size: 12px;
            font-family: monospace;
            padding: 7px 10px;
            border-radius: 4px;
          }
        }

        .ring {
          animation: shake 1s infinite;
        }
      }
    }

    .module-list-wrapper {
      height: 100%;

      ul:first-of-type {
        border-right: 1px solid $border;
      }
    }

    .module-list {
      width: 50%;

      video {
        width: 100%;
        height: 100%;
        background: #000;
        object-fit: cover;
      }
    }
    
    .standby {
      position: relative;

      &:after {
        content: "Sin conexión";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $base;
        font-size: 24px;
        font-family: monospace;
        background: rgba(#000, 0.7);
      }
    }

    .nosignal {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 24px;
        font-family: monospace;
        background: url("../img/nosignal.gif") no-repeat center;
        background-size: cover;
        opacity: 0.3;
      }
    }
  }

  .list-footer {
    height: 30px;
    border-top: 1px solid $border;
    padding: 0 10px;
    font-size: 12px;
    color: $sub;
  }
}
