@import "../../../assets/scss/vars";

.modules-wrapper {
  width: calc(100% - 100px);
  height: calc(100% - 160px);
  margin-top: 10px;
  margin-left: 50px;
  background: $box-dark;
  border: 1px solid $border;
  border-radius: 7px;
  overflow: hidden;

  .lists-header {
    display: none;
  }

  .db-list {
    height: calc(100% - 30px);

    &:nth-of-type(even) {
      border-left: 1px solid $border;
    }
  }

  .list-footer {
    height: 30px;
    border-top: 1px solid $border;
    padding: 0 10px;
    font-size: 12px;
    color: $sub;
  }
}
