@import "../../../assets/scss/vars";

.modules-wrapper {
  width: calc(100% - 30px);
  height: calc(100% - 75px);
  margin-top: 0;
  margin-left: 15px;
  border-radius: 5px 5px 0 0;

  .lists-header {
    height: 60px;
    display: flex;
    border-bottom: 1px solid $border;

    .fold {
      width: 50%;
      height: 100%;
      font-size: 12px;
      font-weight: lighter;

      &:first-of-type {
        border-right: 1px solid $border;
      }
    }

    .active-fold {
      border-bottom: 3px solid $gold;
    }
  }

  .db-list {
    height: 100%;
  }

  .list-footer {
    display: none;
  }
}
