<c-topbar></c-topbar>

<div class="modules-wrapper row">
  <!-- modules lists fold mobile -->
  <div ng-if="activeModule === null" class="lists-header row a-center 1">
    <div ng-click="foldDb()" class="fold db-fold row f-center 1/2" ng-class="{'active-fold': activeDb}">Productividad</div>
    <div ng-click="foldCr()" class="fold cr-fold row f-center 1/2" ng-class="{'active-fold': activeCr}">Diseño</div>
  </div>

  <!-- modules lists -->
  <c-modules-list ng-if="activeModule === null && activeDb" list="'db'" class="db-list col 1/2">
  </c-modules-list>
  <c-modules-list ng-if="activeModule === null && activeCr" list="'cr'" class="db-list col 1/2">
  </c-modules-list>

  <!-- trabajadores module -->
  <m-trabajadores ng-if="activeModule === 'trabajadores'" class="db-list col 1">
  </m-trabajadores>
  <f-trabajadores ng-if="activeModule === 'form-trabajadores'" class="db-list col 1">
  </f-trabajadores>
  
  <!-- gestion module -->
  <m-gestion ng-if="activeModule === 'facturas' || activeModule === 'presupuestos'" class="db-list col 1">
  </m-gestion>
  <f-gestion ng-if="activeModule === 'form-facturas' || activeModule === 'form-presupuestos'" class="db-list col 1">
  </f-gestion>
  
  <!-- dossier module -->
  <m-dossier ng-if="activeModule === 'dossiers'" class="db-list col 1">
  </m-dossier>
  <f-dossier ng-if="activeModule === 'form-dossiers'" class="db-list col 1">
  </f-dossier>
  
  <!-- Video module -->
  <m-video ng-if="activeModule === 'video'" class="db-list col 1">
  </m-video>
  <f-video ng-if="activeModule === 'form-video'" class="db-list col 1">
  </f-video>

  <!-- footer -->
  <div class="list-footer row 1 a-center">
    <p>{{ modulesInfo }}</p>
  </div>
</div>