// reset
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  appearance: none;

  // renders
  image-rendering: crisp-edges;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //disable blue box on mobile
  @media (max-width: 1024px) {
    cursor: default !important;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative !important;
  overflow: hidden !important;
}

body {
  background: $box-dark;
  color: $base;

  @media only screen and (max-width: 1024px) {
    flex-direction: column-reverse;
    padding-bottom: env(safe-area-inset-bottom, 20px);
  }
}

main {
  position: fixed;
  top: 0;
  left: 90px;
  width: calc(100% - 90px);
  height: 100%;
  background: $bg;

  @media only screen and (max-width: 1024px) {
    top: 65px;
    left: 0;
    width: 100%;
    height: calc(100% - 130px);
  }
}

body,
input,
textarea,
select,
option {
  font-family: "Circular Std";
}

input,
textarea,
select,
option {
  font-weight: lighter;
}

//enter view
main.ng-enter {
  animation: fadeIn 0.3s ease-out;
}

//leave view
main.ng-leave {
  animation: fadeOut both 0.3s ease-in;
}

//hyperlinks
a {
  text-decoration: none;
}

//lists
ul {
  list-style: none;
}

//text
p {
  font-weight: lighter;
}

//dev only
.dev-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//progress modal
.progress-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.9);

  .progress-animation {
    height: 50%;

    img {
      width: 100px;
      height: 100px;
      animation: bounce 2s infinite;

      @media screen and (max-width: 1024px) {
        width: 60px;
        height: 60px;
      }
    }
  }

  .actual-task {
    height: 50%;

    progress {
      width: 80%;
      height: 7px;
      margin-top: 40px;

      &::-webkit-progress-bar {
        background: $bg-light;
        border-radius: 2px;
        overflow: hidden;
      }

      &::-webkit-progress-value {
        background: $grad;
      }
    }
  }
}

.qr {
  background: #fff;
  border-radius: 4px;
}
