//colors
$salmon: #f5b19c;
$gold: #f6c570;
$white: #f0ede3;
$box-dark: #232328;
$box-light: #2d2d32;
$box-bg: linear-gradient(45deg, $box-dark, $box-light);

//ui colors
$bg-dark: lighten(#24252a, 5%);
$bg-light: lighten(#24252a, 10%);
$bg: linear-gradient(45deg, $bg-dark, $bg-light);
$border: rgba($white, 0.2);
$grad: linear-gradient(
  45deg,
  #f0ede3 0%,
  #f2ddb5 20%,
  #f6c570 50%,
  #f5b88a 80%,
  #f5b09c 100%
);

//notificators
$link: #2d8cf0;
$success: #19be6b;
$warning: #ff9900;
$error: #ed3f14;

//text
$base: $white;
$sub: rgba($white, 0.5);

//responsive font
@mixin type($minfont, $maxfont) {
  font-size: calc(
    #{$minfont}px + (#{$maxfont} - #{$minfont}) * (100vw - 400px) / (1200 - 400)
  );

  & {
    @media (max-width: 400px) {
      font-size: #{$minfont}px;
    }
    @media (min-width: 1200px) {
      font-size: #{$maxfont}px;
    }
  }
}
