//base
a {
  cursor: pointer;
  transition: 0.2s;
}

button {
  cursor: pointer;
  background-color: transparent;
  transition: 0.2s;
}

button[class*="lil"],
a[class*="lil"] {
  padding: 10px 20px;
}

button[class*="big"],
a[class*="big"] {
  padding: 15px 30px;
}

button[class*="disabled"],
a[class*="disabled"] {
  cursor: not-allowed;
}