//parents
.viewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scroll {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 16px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $bg;
    border: 4px solid $box-dark;
    border-radius: 6px;

    &:hover {
      background: $salmon;
    }
  }
}

//rows & cols
.row {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.col {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.nowrap {
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//dividers
.h-div {
  width: 100%;
  height: 1px;
  background: $border;
}

.v-div {
  width: 1px;
  height: 100%;
  background: $border;
}

//alignments
.j-start {
  justify-content: flex-start;
}
.j-center {
  justify-content: center;
}
.j-end {
  justify-content: flex-end;
}
.j-between {
  justify-content: space-between;
}
.j-around {
  justify-content: space-around;
}
.a-start {
  align-items: flex-start;
}
.a-center {
  align-items: center;
}
.a-end {
  align-items: flex-end;
}
.f-center {
  justify-content: center;
  align-items: center;
}

//sizes
.row[class*="1"],
.col[class*="1"] {
  width: 100%;
}
.row[class*="3/4"],
.col[class*="3/4"] {
  width: 75%;

  @media only screen and (max-width: 1024px) {
    width: 100%;
  }
}
.row[class*="2/3"],
.col[class*="2/3"] {
  width: calc((100% / 3) * 2);

  @media only screen and (max-width: 1024px) {
    width: 100%;
  }
}
.row[class*="1/2"],
.col[class*="1/2"] {
  width: 50%;

  @media only screen and (max-width: 1024px) {
    width: 100%;
  }
}
.row[class*="1/3"],
.col[class*="1/3"] {
  width: calc(100% / 3);

  @media only screen and (max-width: 1024px) {
    width: 100%;
  }
}
.row[class*="1/4"],
.col[class*="1/4"] {
  width: 25%;

  @media only screen and (max-width: 1024px) {
    width: 50%;
  }
}
