//base
input,
select {
  background: transparent;
  font-size: 16px;
  font-weight: lighter;
  transition: 0.2s;
}

input[class*="lil"],
select[class*="lil"] {
  padding: 5px 10px;
}

input[class*="big"],
select[class*="big"] {
  padding: 10px 20px;
}
