.transfer-wrapper{width:calc(100% - 30px);height:calc(100% - 75px);margin-top:0;margin-left:15px;border-radius:5px 5px 0 0}.transfer-wrapper .lists-header{height:60px;display:-webkit-box;display:-ms-flexbox;display:flex;border-bottom:1px solid rgba(240, 237, 227, 0.2)}