<c-topbar></c-topbar>

<div class="transfer-wrapper row">
  <div class="module-transfer module-wrapper col 1">
    <div class="module-title row j-between a-center 1">
      <div class="search-box row a-center">
        <i class="fas fa-search"></i>
        <input type="text" class="input-db lil" ng-model="inputModule" placeholder="Buscar...">
      </div>
    </div>

    <div class="module-list-wrapper row 1">
      <ul class="module-list scroll">
        <h2>Archivos compartidos</h2>
        <br>
        <li class="card row a-center 1" ng-repeat="item in files | filter: inputModule">
          <!-- card-box -->
          <div class="card-inner row j-between a-center">
            <!-- card data -->
            <div class="card-data col j-center nowrap">
              <p class="title">{{ item.name }}</p>
              <span>{{ item.length | bytes }}</span>
            </div>

            <!-- card cta -->
            <div class="cta-box row j-end a-center">
              <button ng-click="downloadFile(item, $event)" class="lil print-btn row a-center">Descargar</button>
            </div>
          </div>

          <!-- delete card -->
          <div ng-click="delete(item)" class="delete-btn row a-center">
            <i class="fas fa-trash-alt"></i>
            <p>BORRAR</p>
          </div>
        </li>
      </ul>

      <ul class="module-list viewport">
        <h2>Comparte archivos</h2>
        <br>
        <li class="row 1">
          <label for="file" class="row 1">
            <span>Selecciona un archivo</span>
            <input type="file" id="file" ngf-select ng-model="myFile" ngf-fix-orientation="true" ng-change="sendFile()">
          </label>
        </li>
      </ul>
    </div>

    <div ng-show="progress.state" class="progress-wrapper col">
      <div class="progress-animation row f-center 1">
        <img src="../../assets/img/imago.svg" alt="Loading...">
      </div>

      <div class="actual-task col a-center 1">
        <h3>{{ progress.msg }}</h3>
        <div class="progress-bar-wrapper row f-center 1">
          <progress ng-show="progress.part" value="{{ progress.part }}" max="100"></progress>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="list-footer row 1 a-center">
    <p>{{ modulesInfo }}</p>
  </div>
</div>