@import "../../../assets/scss/vars";

.transfer-wrapper {
  width: calc(100% - 30px);
  height: calc(100% - 75px);
  margin-top: 0;
  margin-left: 15px;
  border-radius: 5px 5px 0 0;

  .lists-header {
    height: 60px;
    display: flex;
    border-bottom: 1px solid $border;
  }
}
