@import "../../../assets/scss/vars";

.transfer-wrapper {
  width: calc(100% - 100px);
  height: calc(100% - 160px);
  margin-top: 10px;
  margin-left: 50px;
  background: $box-dark;
  border: 1px solid $border;
  border-radius: 7px;
  overflow: hidden;

  .module-transfer {
    position: relative;
    height: 100%;

    .module-title {
      height: 70px;
      border-bottom: 1px solid $border;
      padding: 0 20px;

      .search-box {
        width: calc(100% - 115px);

        i {
          width: 30px;
          color: $sub;
          font-size: 18px;
        }

        input {
          width: calc(100% - 40px);
          color: $base;
          font-size: 18px;
        }
      }
    }

    .module-list-wrapper {
      height: 100%;

      ul:first-of-type {
        border-right: 1px solid $border;
      }
    }

    .module-list {
      width: 50%;
      padding: 30px;

      .card {
        margin-bottom: 15px;

        .card-inner {
          width: calc(100% - 100px);
          height: 70px;
          background: $bg;
          padding: 0 20px;
          border-radius: 7px;
          box-shadow: 0 5px 10px 0 rgba(#000, 0.4);

          &:hover {
            box-shadow: 0 5px 10px 0 rgba(#000, 0.4), inset 0 0 0 2px $border;
          }

          .card-data {
            cursor: pointer;
            width: calc(100% - 100px);
            height: 100%;

            .title {
              color: $salmon;
              font-weight: bold;
              margin-bottom: 3px;
            }
            span {
              color: $sub;
              margin-right: 10px;
              font-weight: lighter;
              font-size: 12px;
            }
          }

          .cta-box {
            width: 100px;

            .print-btn {
              cursor: pointer;
              color: #000;
              background: $salmon;
              border-radius: 7px;
              transition: 0.2s;
              font-size: 12px;
              font-weight: bold;

              &:hover {
                color: #000;
              }
            }
          }
        }

        .delete-btn {
          cursor: pointer;
          width: 80px;
          color: $sub;
          transition: 0.2s;
          margin-left: 20px;

          &:hover {
            color: $base;
          }

          i {
            font-size: 20px;
            margin-right: 10px;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }

    .module-list[class*="viewport"] {
      li, 
      label {
        width: 100%;
      }
      
      input {
        max-width: 0;
        max-height: 0;
        opacity: 0;
      }

      span {
        cursor: pointer;
        width: 100%;
        border: 2px solid $border;
        padding: 10px 20px;
        border-radius: 7px;
        transition: 0.2s;

        &:hover {
          background: $border;
        }
      }
    }
  }

  .list-footer {
    height: 30px;
    border-top: 1px solid $border;
    padding: 0 10px;
    font-size: 12px;
    color: $sub;
  }
}
