<div class="list-wrapper col a-center 1">
  <div class="list-title row j-between a-center 1">
    <h3>{{ moduleTitle }}</h3>

    <div ng-if="moduleTitle === 'Base de datos'" class="search-wrapper row a-center">
      <input ng-show="searchDb" type="text" class="input-db lil" ng-model="inputDb" ng-blur="ifSearchDb()">
      <i class="fas fa-search" ng-click="getSearchDb()"></i>
    </div>

    <div ng-if="moduleTitle === 'Creación'" class="search-wrapper row a-center">
      <input ng-show="searchCrea" type="text" class="input-crea lil" ng-model="inputCrea" ng-blur="ifSearchCrea()">
      <i class="fas fa-search" ng-click="getSearchCrea()"></i>
    </div>
  </div>

  <ul class="card-list scroll">
    <li ng-click="goTo(item)" class="card row j-between a-center 1" ng-repeat="item in list | filter:inputDb">
      <p class="title">{{ item.name }}</p>
      <div class="card-data col a-end">
        <p>{{ item.size }} ENTRADAS</p>
      </div>
    </li>
  </ul>
</div>