@import "../../../assets/scss/vars";

.list-wrapper {
  height: 100%;

  &:nth-of-type(even) {
    border-left: 1px solid $border;
  }

  .list-title {
    height: 70px;
    border-bottom: 1px solid $border;
    padding: 0 20px;

    input {
      color: $base;
      border: 1px solid $border;
      border-radius: 4px;
      margin-right: -25px;
      padding-right: 30px;
    }

    i {
      cursor: pointer;
      color: $sub;
      transition: 0.2s;

      &:hover {
        color: $base;
      }
    }
  }
}

.card-list {
  width: 100%;
  height: calc(100% - 70px);
  padding: 30px;

  .card {
    cursor: pointer;
    background: $bg;
    padding: 15px 20px;
    border-radius: 7px;
    box-shadow: 0 5px 10px 0 rgba(#000, 0.4);

    &:not(:last-of-type) {
      margin-bottom: 15px;
    }

    &:hover {
      box-shadow: 0 5px 10px 0 rgba(#000, 0.4), inset 0 0 0 2px $border;
    }

    .title {
      color: $salmon;
    }

    .card-data {
      p {
        font-size: 12px;
        color: $sub;
      }
    }
  }
}
