@import "../../../assets/scss/vars";

.list-wrapper {
  width: 100%;
  height: 100%;
  border: none;

  &:first-of-type {
    border-right: none;
  }

  .list-title {
    display: none;
  }
}

.card-list {
  height: 100%;
  padding: 20px;

  .card {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;

    &:hover {
      box-shadow: 0 5px 10px 0 rgba(#000, 0.4);
    }

    .title {
      font-size: 12px;
      font-weight: lighter;
    }

    .card-data {
      p {
        font-size: 10px;
      }
    }
  }
}
