<div class="row j-betteen 1">
  <div class="title-wrapper row a-center nowrap">
    <a ng-if="currentModule !== null" ng-click="goBack()" class="lil">ATRÁS</a>
    <h2>{{ currentState }}</h2>
    <h2 ng-if="currentModule !== null" class="breadcrumbs">: {{ currentModule }}</h2>
  </div>

  <div class="user-wrapper row j-end a-center nowrap">
    <p>{{ currentUser.name }}</p>
    <img ng-click="logOut()" ng-src="{{ currentUser.image }}" alt="{{ currentUser.name }}">
  </div>
</div>