@import "../../../assets/scss/vars";

.title-wrapper {
    width: 100%;
    height: 65px;
    padding: 0 25px;

    a {
        font-size: 10px;
        border-radius: 5px;
    }

    h2 {
        font-size: 14px;
    }
}

.user-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 65px);
    height: 65px;
    background: $box-dark;
    border-bottom: 1px solid $border;
    padding: 10px 20px;

    p {
        font-size: 14px;
        margin-right: 10px;
    }
}