@import "../../../assets/scss/vars";

.title-wrapper {
  width: calc(100% - 250px);
  height: 100px;
  padding: 0 50px;

  a {
    border: 2px solid $border;
    border-radius: 7px;
    font-size: 12px;
    margin-right: 10px;
    color: $sub;
  }

  .breadcrumbs {
    font-weight: lighter;
  }
}

.user-wrapper {
  width: 250px;
  height: 100px;
  padding: 20px 50px;

  p {
    margin-right: 20px;
  }

  img {
    cursor: pointer;
    height: 100%;
    border: 1px solid $border;
    border-radius: 7px;
  }
}