<form class="form-video col 1" ng-submit="processText(form)">
  <div class="module-title row j-between a-center 1">
    <h3 class="ref">Ref.: {{ form.ref }}</h3>

    <!-- desktop btn -->
    <div class="cta-module row j-end a-center cta-desktop">
      <a ng-if="currentData === null" onclick="history.back()" class="lil back-btn">Cancelar</a>
      <a ng-if="currentData !== null" onclick="history.back()" class="lil back-btn">Cerrar</a>

      <div ng-if="currentData !== null" class="pdf-btn" ng-click="print(form, form.modules[0])">PDF</div>

      <button ng-if="currentData === null" class="lil add-btn">Crear</button>
      <button ng-if="currentData !== null" class="lil add-btn">Actualizar</button>
    </div>

    <!-- mobile btn -->
    <div class="cta-module row j-end a-center cta-mobile">
      <a onclick="history.back()" class="lil back-btn"><i class="fas fa-arrow-left"></i></a>

      <div ng-if="currentData !== null" class="pdf-btn" ng-click="print(form, form.modules[0])"><i
          class="fas fa-file"></i></div>

      <button class="lil add-btn"><i class="fas fa-save"></i></button>
    </div>
  </div>

  <div class="form-body scroll">
    <div class="form-bg col 1">
      <h4>Autotexto</h4>
      <div class="row 1">
        <label class="col 1/2">
          <div class="label">PARA</div>
          <input type="text" ng-model="form.para" class="big" placeholder="Para">
        </label>
        <label class="col 1/2">
          <div class="label">DE</div>
          <input type="text" ng-model="form.de" class="big" placeholder="De">
        </label>
      </div>

      <div class="row 1">
        <label class="col 1">
          <div class="label">TEXTO - Escribe "$de" y "$para" alli donde quieras canviar el texto de forma automática</div>
          <textarea ng-model="form.texto" placeholder="Texto"></textarea>
        </label>
        
        <label class="col 1">
          <div class="label">TEXTO FINAL</div>
          <textarea ng-model="texto" placeholder="Texto final"></textarea>
        </label>
      </div>

      <div class="row 1">
        <button class="lil pro-btn">Procesar</button>
      </div>
    </div>

    <div class="form-bg col 1">
      <h4>Grabar video</h4>
      <div class="row 1">
        <label class="col 1/2">
          <div class="label">VIDEO</div>
          <div class="col 1">
            <video ng-hide="record" id="input" playsinline controls="true" muted autoplay></video>
            <video ng-show="record" id="output" controls="true" playsinline></video>

            <div class="rec-wrapper row j-between 1">
              <button ng-click="rec()" class="lil add-btn">Grabar</button>
              <button ng-show="isrec" ng-click="stop()" class="lil add-btn">Parar</button>
            </div>

            <div class="media-wrapper col a-center 1">
              <select id="videoId" class="big"></select>
              <select id="audioId" class="big"></select>
            </div>
          </div>
        </label>
      </div>
    </div>
  </div>

  <div ng-show="progress.state" class="progress-wrapper col">
    <div class="progress-animation row f-center 1">
      <img src="../../assets/img/imago.svg" alt="Loading...">
    </div>

    <div class="actual-task col a-center 1">
      <h3>{{ progress.msg }}</h3>
      <div class="progress-bar-wrapper row f-center 1">
        <progress value="{{ progress.part }}" max="100"></progress>
      </div>
    </div>
  </div>
</form>