@import "../../../assets/scss/vars";

.form-video {
  position: relative;
  height: 100%;

  .module-title {
    height: 70px;
    border-bottom: 1px solid $border;
    padding: 0 20px;

    .cta-mobile {
      display: none;
    }

    .cta-module {
      .back-btn {
        box-shadow: inset 0 0 0 2px $border;
        border-radius: 4px;
        color: $sub;
        margin-right: 10px;
        padding: 10px 20px;
        font-size: 14px;
      }

      .add-btn,
      .pdf-btn {
        background: $grad;
        border-radius: 4px;
        font-weight: bold;
        color: #000;
        font-size: 14px;
      }

      .pdf-btn {
        cursor: pointer;
        padding: 10px 20px;
        margin-right: 10px;
        background: $salmon;
      }
    }
  }

  .form-body {
    padding: 30px;

    h4 {
      margin-bottom: 20px;
    }

    .form-bg {
      padding: 20px;
      padding-bottom: 10px;
      background: $bg;
      border-radius: 7px;

      &:not(:last-of-type) {
        margin-bottom: 30px;
      }

      .add-btn,
      .pro-btn {
        background: $grad;
        border-radius: 4px;
        font-weight: bold;
        color: #000;
        font-size: 14px;
      }
    }

    label {
      padding: 0 10px;
      margin-bottom: 20px;

      .label {
        font-size: 12px;
        color: $sub;
        font-weight: lighter;
        padding-left: 10px;
        margin-bottom: 10px;
      }

      video {
        width: 300px;
        max-width: 100%;
        background: #000;
        border-radius: 7px;
      }

      .rec-wrapper {
        margin: 20px 0;

        button {
          width: calc(50% - 5px);
        }
      }

      .media-wrapper select {
        margin-bottom: 5px;
      }

      .img-wrapper {
        cursor: pointer;
        position: relative;
        width: 250px;
        height: 250px;
        background: #000;
        border: 1px solid $border;
        border-radius: 50%;
        overflow: hidden;

        input {
          display: none;
        }

        .input-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .img-wrapper:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f030";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(#000, 0.85);
        color: $base;
        font-size: 40px;
        opacity: 0;
        transition: opacity 0.2s;
      }

      .img-wrapper:hover:after {
        opacity: 1;
      }

      input,
      select,
      textarea {
        width: 100%;
        border: 1px solid $border;
        border-radius: 7px;
        color: $salmon;
        font-size: 18px;

        option {
          color: #000;

          &:disabled {
            color: $bg-light;
          }
        }
      }

      textarea {
        height: 150px;
        resize: none;
        background: transparent;
        padding: 20px;
      }

      .input-day {
        width: 20%;
        border-radius: 7px 0 0 7px;
      }
      .input-month {
        width: 40%;
        border-radius: 0;
      }
      .input-year {
        width: 40%;
        border-radius: 0 7px 7px 0;
      }
    }
  }
}
