@import "../../../assets/scss/vars";

.form-gestion {
  .module-title {
    height: 70px;
    padding: 0 15px;

    h3 {
      font-size: 10px;
      font-weight: lighter;
    }

    .cta-desktop {
      display: none;
    }

    .cta-mobile {
      display: inherit;
    }

    .cta-module {
      .add-btn,
      .pdf-btn,
      .back-btn {
        background: none;
        font-size: 16px;
        padding: 10px;
        color: $sub;
        box-shadow: none;
      }
    }
  }

  .form-body {
    padding: 10px;

    h4 {
        margin-bottom: 15px;
    }

    .form-bg {
      padding: 10px;
      padding-bottom: 5px;
      border-radius: 5px;
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }

    label {
      padding: 0;

      .label {
        font-size: 10px;
        padding-left: 15px;
      }

      .img-wrapper {
        width: 150px;
        height: 150px;

        &:after {
          display: none;
        }
      }

      input,
      select {
        font-size: 14px;
        padding: 12px 15px;
        border-radius: 5px;
      }

      .input-day {
        width: 20%;
        border-radius: 5px 0 0 5px;
      }
      .input-month {
        width: 40%;
        border-radius: 0;
      }
      .input-year {
        width: 40%;
        border-radius: 0 5px 5px 0;
      }
    }

    .start-line-btn {
      border-radius: 5px;
      font-size: 10px;
      font-weight: bold;
    }

    .line-wrapper {
      border-radius: 5px;

      .module-title {
        .back-line-btn,
        .add-line-btn {
          border-radius: 5px;
          font-size: 10px;
          font-weight: bold;
        }
      }
    }

    .line-card-wrapper {
      .title-cols,
      .values-cols {
        width: calc(100% - 30px);
        
        span {
          padding: 10px;
          font-size: 8px;
        }
      }
      
      .title-cols,
      .pre-total {
        span {
          text-align: center;
          padding: 10px;
          font-size: 6px;
        }
      }

      .pre-total {
        margin-top: 10px;

        .col-sum:first-of-type {
          border-radius: 5px 0 0 0;
        }
        
        .col-sum:last-of-type {
          border-radius: 0 5px 0 0;
        }
      }

      .total {
        .col-sum {
          font-size: 12px;
        }

        .col-sum:first-of-type {
          border-radius: 0 0 0 5px;
        }
        
        .col-sum:last-of-type {
          border-radius: 0 0 5px 0;
        }
      }



      .line-card {
        border-radius: 5px;
        margin-bottom: 2px;

        .btn-delete-line {
          width: 30px;
          font-size: 12px;
        }
      }
    }
  }
}
