@import "../../../assets/scss/vars";

.form-gestion {
  position: relative;
  height: 100%;

  .module-title {
    height: 70px;
    border-bottom: 1px solid $border;
    padding: 0 20px;

    .cta-mobile {
      display: none;
    }

    .cta-module {
      .back-btn {
        box-shadow: inset 0 0 0 2px $border;
        border-radius: 4px;
        color: $sub;
        margin-right: 10px;
        padding: 10px 20px;
        font-size: 14px;
      }
      
      .add-btn,
      .pdf-btn {
        background: $grad;
        border-radius: 4px;
        font-weight: bold;
        color: #000;
        font-size: 14px;
      }
      
      .pdf-btn {
        cursor: pointer;
        padding: 10px 20px;
        margin-right: 10px;
        background: $salmon;
      }
    }
  }

  .form-body {
    padding: 30px;

    h4 {
      margin-bottom: 20px;

      span {
        font-weight: lighter;
        font-size: 12px;
        color: $sub;
        text-transform: uppercase;
      }
    }

    .form-bg {
      padding: 20px;
      padding-bottom: 10px;
      background: $bg;
      border-radius: 7px;
      &:not(:last-of-type) {
        margin-bottom: 30px;
      }
    }

    label {
      padding: 0 10px;
      margin-bottom: 20px;

      .label {
        font-size: 12px;
        color: $sub;
        font-weight: lighter;
        padding-left: 10px;
        margin-bottom: 10px;
      }

      input,
      select,
      textarea {
        width: 100%;
        border: 1px solid $border;
        border-radius: 7px;
        color: $salmon;
        font-size: 18px;

        option {
          color: #000;

          &:disabled {
            color: $bg-light;
          }
        }
      }

      .num-btn {
        cursor: pointer;
        padding: 13px 20px;
        background: $salmon;
        border-radius: 7px;
        color: #000;
      }

      .input-day {
        width: 20%;
        border-radius: 7px 0 0 7px;
      }
      .input-month {
        width: 40%;
        border-radius: 0;
        border-left: none;
        border-right: none;
      }
      .input-year {
        width: 40%;
        border-radius: 0 7px 7px 0;
      }
    }

    .start-line-btn {
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 7px;
      background: $salmon;
      color: #000;
      font-weight: bold;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    
    .line-wrapper {
      border: 1px solid $border;
      border-radius: 7px;
      margin-bottom: 20px;

      .module-title {
        height: 50px;
        border-top: 1px solid $border;
        border-bottom: none;

        .back-line-btn,
        .add-line-btn {
          cursor: pointer;
          padding: 10px 20px;
          border-radius: 7px;
          background: $salmon;
          color: #000;
          font-weight: bold;
          font-size: 12px;
          font-weight: bold;
          text-transform: uppercase;
          margin-left: 10px;
        }

        .back-line-btn {
          background: transparent;
          border: 2px solid $border;
          padding: 9px 20px;
          color: $sub;
        }

        .shake {
          animation: 0.5s shake;
        }
      }

      .form-body {
        padding: 20px 10px;

        .line-label {
          padding: 10px;
        }
      }
    }

    .line-card-wrapper {
      .col-1 {
        width: 10%;
      }
      .col-2 {
        width: 40%;
      }
      .col-3 {
        width: 10%;
      }
      .col-4 {
        width: 20%;
      }
      .col-5 {
        width: 20%;
      }
      .col-sum {
        width: 25%;
        text-align: center;
        border: 1px solid $border;

        &:nth-of-type(2) {
          border-left: none;
          border-right: none;
        }

        &:nth-of-type(3) {
          border-right: none;
        }
      }

      .title-cols,
      .values-cols {
        width: calc(100% - 50px);

        &:not(.title-cols) span {
          border-right: 1px solid $border;
        }

        span {
          padding: 15px 20px;
          font-size: 14px;
        }
      }
      
      .title-cols,
      .pre-total {
        span {
          padding: 10px 20px;
          text-transform: uppercase;
          color: $sub;
          font-size: 12px;
        }
      }

      .pre-total {
        margin-top: 20px;

        .col-sum {
          border-bottom: none;
        }

        .col-sum:first-of-type {
          border-radius: 7px 0 0 0;
        }
        
        .col-sum:last-of-type {
          border-radius: 0 7px 0 0;
        }
      }

      .total {
        .col-sum {
          padding: 10px;
          color: $salmon;
        }

        .col-sum:first-of-type {
          border-radius: 0 0 0 7px;
        }
        
        .col-sum:last-of-type {
          border-radius: 0 0 7px 0;
        }
      }

      .line-card {
        background: $bg;
        border-radius: 7px;
        border: 1px solid $border;
        overflow: hidden;
        margin-bottom: 5px;

        .btn-delete-line {
          width: 50px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $sub;
          transition: 0.2s;

          i {
            cursor: pointer;

            &:hover {
              color: $base;
            }
          }
        }
      }
    }

    .final-row {
      margin-top: 40px;
    }
  }
}
