<form class="form-gestion col 1" ng-submit="checkPush(form)">
  <div class="module-title row j-between a-center 1">
    <h3 class="ref">Ref.: {{ form.ref }}</h3>

    <!-- desktop btn -->
    <div class="cta-module row j-end a-center cta-desktop">
      <a ng-if="currentData === null" onclick="history.back()" class="lil back-btn">Cancelar</a>
      <a ng-if="currentData !== null" onclick="history.back()" class="lil back-btn">Cerrar</a>

      <div ng-if="currentData !== null" class="pdf-btn" ng-click="print(form, form.modules[0])">PDF</div>

      <button ng-if="currentData === null" class="lil add-btn">Crear</button>
      <button ng-if="currentData !== null" class="lil add-btn">Actualizar</button>
    </div>

    <!-- mobile btn -->
    <div class="cta-module row j-end a-center cta-mobile">
      <a onclick="history.back()" class="lil back-btn"><i class="fas fa-arrow-left"></i></a>

      <div ng-if="currentData !== null" class="pdf-btn" ng-click="print(form, form.modules[0])"><i
          class="fas fa-file"></i></div>

      <button class="lil add-btn"><i class="fas fa-save"></i></button>
    </div>
  </div>

  <div class="form-body scroll">
    <div class="form-bg col 1">
      <h4>Descripción</h4>
      <div class="row 1">
        <label class="col 1/2">
          <div class="label">TÍTULO</div>
          <input class="big" type="text" ng-model="form.title" placeholder="Título" required>
        </label>
      </div>

      <div class="row 1">
        <label class="col 1/4">
          <div class="label">NÚMERO</div>
          <input class="big" type="number" ng-model="form.num" placeholder="Número" required>
        </label>
        <label ng-if="parentModule === 'facturas'" class="col">
          <div class="label">&nbsp;</div>
          <div class="num-btn" ng-click="form.num = 0">SIN NÚM.</div>
        </label>
        <label class="col 1/2">
          <div class="label">FECHA</div>
          <div class="row 1">
            <input class="big input-day" type="number" ng-model="form.date.day" placeholder="Día" required>
            <select class="big input-month" type="number" ng-model="form.date.month" required>
              <option value="" disabled>Mes</option>
              <option ng-repeat="(k, v) in months" ng-value="{{ k }}">{{ v }}</option>
            </select>
            <input class="big input-year" type="number" ng-model="form.date.year" placeholder="Año" required>
          </div>
        </label>
      </div>

      <div class="row 1">
        <label class="col 1/3">
          <div class="label">RETENCIÓN</div>
          <select class="big" ng-model="form.ret" required>
            <option ng-value="7">7%</option>
            <option ng-value="15">15%</option>
            <option ng-value="19">19%</option>
          </select>
        </label>
        <label class="col 1/3">
          <div class="label">IVA</div>
          <select class="big" ng-model="form.iva" required>
            <option ng-value="4">4%</option>
            <option ng-value="10">10%</option>
            <option ng-value="21">21%</option>
          </select>
        </label>
      </div>
    </div>

    <div class="form-bg col 1">
      <h4>Información del cliente</h4>
      <div class="row 1">
        <label class="col 1/2">
          <div class="label">PARA</div>
          <input list="customers" class="big" type="text" ng-model="form.to" placeholder="Para" required>
        </label>
        <label class="col 1/2">
          <div class="label">NIF/CIF</div>
          <input class="big" type="text" ng-model="form.nif" placeholder="NIF/CIF" required>
        </label>
        <label class="col 1/2">
          <div class="label">DIRECCIÓN</div>
          <input class="big" type="text" ng-model="form.address" placeholder="Dirección" required>
        </label>
        <label class="col 1/2">
          <div class="label">CONTACTO</div>
          <input class="big" type="text" ng-model="form.contact" placeholder="Contacto" required>
        </label>

        <datalist id="customers">
          <option ng-repeat="customer in customers" value="{{customer.to}}"></option>
        </datalist>
      </div>
    </div>


    <h4>A {{ parentModule === 'facturas' ? 'facturar' : 'presupuestar' }}</h4>
    <div class="row 1">
      <div ng-if="!newLine" ng-click="startLine()" class="start-line-btn">Nueva linea</div>
    </div>

    <div ng-if="newLine" class="line-wrapper col 2/3">
      <div class="form-body col 1">
        <div class="row 1">
          <label class="col 2/3">
            <div class="label">PRODUCTO/SERVICIO</div>
            <input class="big" type="text" ng-model="line.detail" placeholder="Producto servicio">
          </label>
        </div>

        <div class="row 1">
          <label class="col 1/3">
            <div class="label">CANTIDAD</div>
            <input class="big" type="number" ng-model="line.quantity" placeholder="Cantidad">
          </label>
          <label class="col 1/3">
            <div class="label">DESCUENTO</div>
            <input class="big" type="number" ng-model="line.discount" placeholder="Descuento">
          </label>
          <label class="col 1/3">
            <div class="label">PRECIO</div>
            <input class="big" type="number" ng-model="line.price" placeholder="Precio">
          </label>
        </div>
      </div>

      <div class="module-title row j-end a-center 1">
        <div class="cta-module row j-end a-center">
          <div ng-click="discardLine()" class="back-line-btn">Descartar</div>
          <div ng-click="addLine(line)" class="add-line-btn">Añadir linea</div>
        </div>
      </div>
    </div>

    <div class="row 1">
      <ul ng-if="form.to_invoice.length" class="line-card-wrapper row 1">
        <li class="row title-cols">
          <span class="col-1 nowrap">Cantidad</span>
          <span class="col-2 nowrap">Detalle</span>
          <span class="col-3 nowrap">Descuento</span>
          <span class="col-4 nowrap">Precio</span>
          <span class="col-5 nowrap">Total</span>
        </li>

        <li class="line-card row j-between a-center 1" ng-repeat="line in form.to_invoice">
          <div class="row values-cols">
            <span class="col-1">{{ line.quantity }}</span>
            <span class="col-2 nowrap">{{ line.detail }}</span>
            <span class="col-3">{{ line.discount }}%</span>
            <span class="col-4">{{ line.price | currency }}</span>
            <span
              class="col-5">{{ (line.price * line.quantity) - (((line.price / 100) * line.discount) * line.quantity) | currency }}</span>
          </div>

          <div class="btn-delete-line">
            <i ng-click="deleteLine($index)" class="fas fa-trash-alt"></i>
          </div>
        </li>

        <div class="col 1">
          <li class="pre-total row j-center 2/3">
            <span class="col-sum">BASE</span>
            <span class="col-sum">RET ({{ form.ret }}%)</span>
            <span class="col-sum">IVA ({{ form.iva }})</span>
            <span class="col-sum">TOTAL</span>
          </li>

          <li class="total row j-center 2/3">
            <span class="col-sum">{{sumPrice | currency}}</span>
            <span class="col-sum">-{{(sumPrice / 100) * form.ret | currency}}</span>
            <span class="col-sum">{{(sumPrice / 100) * form.iva | currency}}</span>
            <span
              class="col-sum">{{(sumPrice - ((sumPrice / 100) * form.ret)) + ((sumPrice / 100) * form.iva) | currency}}</span>
          </li>
        </div>
      </ul>
    </div>

    <h4 ng-if="parentModule === 'presupuestos' && currentData !== null && !isBill" class="final-row">Duplicar</h4>
    <div ng-if="parentModule === 'presupuestos' && currentData !== null && !isBill" class="row 1">
      <div class="start-line-btn" ng-click="duplicate(form)">Hacer factura</div>
    </div>
  </div>

  <div ng-show="progress.state" class="progress-wrapper col">
    <div class="progress-animation row f-center 1">
      <img src="../../assets/img/imago.svg" alt="Loading...">
    </div>

    <div class="actual-task row j-center 1">
      <h3>{{ progress.msg }}</h3>
    </div>
  </div>
</form>