@import "../../../assets/scss/vars";

.module-gestion {
  position: relative;
  height: 100%;

  .module-title {
    height: 70px;
    border-bottom: 1px solid $border;
    padding: 0 20px;

    .search-box {
      width: calc(100% - 115px);

      i {
        width: 30px;
        color: $sub;
        font-size: 18px;
      }

      input {
        width: calc(100% - 40px);
        color: $base;
        font-size: 18px;
      }
    }

    .cta-module {
      width: 95px;

      .add-btn {
        background: $grad;
        border-radius: 4px;
        font-weight: bold;
        color: #000;
        font-size: 14px;
      }
    }
  }

  .module-list {
    padding: 30px;

    .card {
      margin-bottom: 15px;

      img {
        width: 60px;
        height: 60px;
        margin-right: 20px;
        border: 1px solid $border;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        box-shadow: 0 5px 10px 0 rgba(#000, 0.4);
      }

      .card-inner {
        width: calc(100% - 110px);
        height: 70px;
        background: $bg;
        padding: 0 20px;
        border-radius: 7px;
        box-shadow: 0 5px 10px 0 rgba(#000, 0.4);

        &:hover {
          box-shadow: 0 5px 10px 0 rgba(#000, 0.4), inset 0 0 0 2px $border;
        }

        .card-data {
          cursor: pointer;
          width: calc(100% - 310px);
          height: 100%;

          .title {
            color: $salmon;
            font-weight: bold;
            margin-bottom: 3px;
          }
          span {
            color: $sub;
            margin-right: 10px;
            font-weight: lighter;
            font-size: 12px;
          }
        }

        .cta-box {
          width: 310px;

          select {
            width: 200px;
            background: transparent;
            padding: 10px;
            border: 1px solid $border;
            border-radius: 4px;
            color: $gold;
            text-transform: capitalize;
            margin-right: 10px;

            option {
              color: #000;
              padding: 10px;
            }
          }

          .print-btn {
            cursor: pointer;
            color: $sub;
            background: $border;
            border-radius: 7px;
            transition: 0.2s;
            font-size: 12px;

            &:hover {
              color: $base;
            }
          }
        }
      }

      .delete-btn {
        cursor: pointer;
        width: 80px;
        color: $sub;
        transition: 0.2s;
        margin-left: 20px;

        &:hover {
          color: $base;
        }

        i {
          font-size: 20px;
          margin-right: 10px;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }
}
