<div class="module-gestion module-wrapper col 1">
  <div class="module-title row j-between a-center 1">
    <div class="search-box row a-center">
      <i class="fas fa-search"></i>
      <input type="text" class="input-db lil" ng-model="inputModule" placeholder="Buscar...">
    </div>

    <div class="cta-module row j-end a-center">
      <a ui-sref="modules({m: 'form-' + currentModule, data: null})" class="lil add-btn">Nuevo</a>
    </div>
  </div>

  <ul class="module-list scroll">
    <li class="card row a-center 1" ng-repeat="item in moduleData | orderBy: '-num' | filter: inputModule">
      <!-- card-box -->
      <div class="card-inner row j-between a-center">
        <!-- card data -->
        <div ng-click="edit(item)" class="card-data col j-center nowrap">
          <p class="title">{{ item.title }}</p>
          <div class="row">
            <span>NÚM: {{ item.num }}</span>
            <span>FECHA: {{ item.date.day }}/{{ item.date.month }}/{{ item.date.year }}</span>
          </div>
        </div>

        <!-- card cta -->
        <div class="cta-box row j-end a-center">
          <select ng-model="moduleSelected">
            <option ng-repeat="m in item.modules" value="{{ m }}">{{ m }}</option>
          </select>
          <button ng-click="print(item, moduleSelected)" class="lil print-btn row a-center">PDF</button>
        </div>
      </div>

      <!-- delete card -->
      <div ng-click="delete(item)" class="delete-btn row a-center">
        <i class="fas fa-trash-alt"></i>
        <p>BORRAR</p>
      </div>
    </li>
  </ul>

  <div ng-if="progress.state" class="progress-wrapper col">
    <div class="progress-animation row f-center 1">
      <img src="../../assets/img/imago.svg" alt="Loading...">
    </div>

    <div class="actual-task row j-center 1">
      <h3>{{ progress.msg }}</h3>
    </div>
  </div>
</div>