@import "../../../assets/scss/vars";

.login-box {
  position: fixed;
  top: 0;
  left: 0;
  background: $bg-dark url("../../../assets/img/bg.svg") no-repeat bottom right;
  background-size: cover;
  padding: 50px;

  .logo {
    width: 175px;
    
    .logo-mob {
      display: none;
    }
  }


  h1 {
    font-size: 60px;
  }

  form {
    label {
      position: relative;
      margin-right: 20px;
      margin-bottom: 20px;

      .label {
        font-size: 12px;
        color: $sub;
        font-weight: lighter;
        padding-left: 10px;
        margin-bottom: 10px;
      }

      input {
        width: 300px;
        border: 1px solid $border;
        border-radius: 7px;
        color: $salmon;
        font-size: 18px;
      }
      
      #pass {
        padding-right: 50px;
      }

      i {
        cursor: pointer;
        position: absolute;
        top: 37px;
        right: 15px;
        color: $sub;
        transition: 0.2s;

        &:hover {
          color: $base;
        }
      }
    }

    button {
      background: $grad;
      border-radius: 7px;
      font-weight: bold;
      font-size: 14px;
    }
  }
}
