<div class="login-box viewport col j-between">
  <div class="logo">
    <img class="logo-des" src="../../../assets/img/logo.svg" alt="Playout">
    <img class="logo-mob" src="../../../assets/img/imago.svg" alt="Playout">
  </div>

  <h1>
    Ahorra tiempo
    <br>
    y dinero
  </h1>

  <form ng-submit="logIn(form)" class="col">
    <div class="row">
      <label>
        <div class="label">USUARIO</div>
        <input type="text" ng-model="form.user" class="big" placeholder="Usuario">
      </label>
  
      <label>
        <div class="label">CONTRASEÑA</div>
        <input id="pass" type="password" ng-model="form.pass" class="big" placeholder="Contraseña">
        <i ng-click="switchPass()" ng-if="hidePass" class="fas fa-eye"></i>
        <i ng-click="switchPass()" ng-if="!hidePass" class="fas fa-eye-slash"></i>
      </label>
    </div>

    <button class="lil">Entrar</button>
  </form>
</div>