@import "../../../assets/scss/vars";

.login-box {
  background-position-x: 30%;
  padding: 30px;

  .logo {
    width: 50px;

    .logo-des {
      display: none;
    }

    .logo-mob {
      display: inherit;
    }
  }

  h1 {
    font-size: 60px;
  }

  form {
    label {
      position: relative;
      width: 100%;
      margin-right: 0;

      input {
        width: 100%;
        padding: 15px 20px;
      }

      i {
        position: absolute;
        bottom: 15px;
        right: 15px;
        margin-left: 0;
      }
    }

    button {
      width: 85%;
      padding: 15px;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 50px;
    }
  }
}
